1. (In-class) "In-class activity: Using for loop"  on slide 13 of Lecture 2. (2+2 points)

In [1]:
# A music album ABC tops 10 straight weeks in the music chart, with weekly sales increasing by 10000 records every week. At the start of week 1 the sales were 5000 records. Using for loop write a program to print the following:
sales = 5000
for i in range(1,11):
  sales = 10000+sales
  print('ABC album is number one for',i,'weeks with total sales',sales)

ABC album is number one for 1 weeks with total sales 15000
ABC album is number one for 2 weeks with total sales 25000
ABC album is number one for 3 weeks with total sales 35000
ABC album is number one for 4 weeks with total sales 45000
ABC album is number one for 5 weeks with total sales 55000
ABC album is number one for 6 weeks with total sales 65000
ABC album is number one for 7 weeks with total sales 75000
ABC album is number one for 8 weeks with total sales 85000
ABC album is number one for 9 weeks with total sales 95000
ABC album is number one for 10 weeks with total sales 105000

In [2]:
# Using for loop and if statement calculate the sum of all even numbers between and including 9888 and 9999
sum=0
for x in range(9888,10000):
    if(x%2==0):
        sum=sum+x
print(sum)

556808

2. (In-class) "In-class activity: Practice with list indexing" on slide 17 of Lecture 2 (2+2+2 points)

In [13]:
# Create a list of all integers which are multiples of 3 between 1 and 50
Multiples = []
for x in range (1,51):
    if x%3==0:
        Multiples = Multiples+[x]
print(Multiples)

# From the list find all the integers which are also multiples of 2
Multiples2 = []
for x in Multiples:
    if x%2==0:
        Multiples2 = Multiples2+[x]
print(Multiples2)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]
[6, 12, 18, 24, 30, 36, 42, 48]

In [14]:
# Print the index of those integers along with the integer value
for index,item in enumerate(Multiples2):
    print('Integer value in index '+str(index)+' in Multiples2 is '+str(item))
# Calculate the sum of such integers
sum(Multiples2)

Integer value in index 0 in Multiples2 is 6
Integer value in index 1 in Multiples2 is 12
Integer value in index 2 in Multiples2 is 18
Integer value in index 3 in Multiples2 is 24
Integer value in index 4 in Multiples2 is 30
Integer value in index 5 in Multiples2 is 36
Integer value in index 6 in Multiples2 is 42
Integer value in index 7 in Multiples2 is 48

216

In [1]:
# Consider the list of lists number_cats as defined in the previous slide. Write code to calculate and print
squares = [1, 4, 9, 25]
cat_family = ['cat','tiger','lion','panther','leopard']
number_cats = [squares,cat_family]
print(number_cats)

# the total number of numbers in number_cats: output should be 4 
# the total number of stings in number_cats: output should be 5 
#(I think there is a typo in the Powerpoint, so I replace 'strings' instead of 'stings' in the following answer)
# the total number of items in number_cats: output should be 9
numbers = 0
strings = 0
for i in number_cats:
    for x in i:
        if type(x) == int:
            numbers = numbers + 1
        else:
            strings = strings + 1

print('The total number of numbers in number_cats is '+ str(numbers))
print('The total number of strings in number_cats is '+str(strings))
print('The total number of items in number_cats is '+str(numbers+strings))

[[1, 4, 9, 25], ['cat', 'tiger', 'lion', 'panther', 'leopard']]
The total number of numbers in number_cats is 4
The total number of strings in number_cats is 5
The total number of items in number_cats is 9

In [2]:
# Change the values stored (if possible) at following indexes in number_cats 
# number_cats[-1][-5]=‘hyena’
number_cats[-1][-5]='hyena'
# number_cats[0][-3]=‘jaguar’
number_cats[0][-3]='jaguar'

In [ ]:
# number_cats[1][6]=‘200’
number_cats[1][6]='200'
# This is not possible because there is only 5 items in number_cats[1]. It is out of the range to search for the 6th.

In [4]:
# Delete all items from number_cats which are smaller than 10
number_cats

[[1, 'jaguar', 9, 25], ['hyena', 'tiger', 'lion', 'panther', 'leopard']]

In [6]:
for i in range(len(number_cats)):
    for x in range(len(number_cats[i])):
        if type(number_cats[i][x]) == int and number_cats[i][x] < 10:
            del(number_cats[i][x])

In [7]:
# and print the modified list number_cats 
print(number_cats)

[['jaguar', 25], ['hyena', 'tiger', 'lion', 'panther', 'leopard']]

In [66]:
# 3.(Post-class)  "In-class activity: Practice with common list methods" on slide 22 of Lecture 2 (10 points).
# Maintaining class roster: We will solve the problem of maintaining a class roster using list and common list methods.
# Create a class roster (a list of strings) having the following 7 student names:
# John Adams, James Bond, Ray Caldwell, Thomas David, Mary Jo, Stacy Johnson, Deborah Logan
# The names should be entered in your program using the input() function one name at a time in the form of firstname followed by last name. You do not know beforehand how many students are there in the class. You can have the input() in a loop but then you need to have a condition to exit from the loop after the last student name is entered by the user.
roster = []
while True: 
    name = input('Please input a student name ')
    if name == 'no more':
        break
    roster.append(name)
    print(roster)

Please input a student name John Adams
['John Adams']
Please input a student name James Bond
['John Adams', 'James Bond']
Please input a student name Ray Caldwell
['John Adams', 'James Bond', 'Ray Caldwell']
Please input a student name Thomas David
['John Adams', 'James Bond', 'Ray Caldwell', 'Thomas David']
Please input a student name Mary Jo
['John Adams', 'James Bond', 'Ray Caldwell', 'Thomas David', 'Mary Jo']
Please input a student name Stacy Johnson
['John Adams', 'James Bond', 'Ray Caldwell', 'Thomas David', 'Mary Jo', 'Stacy Johnson']
Please input a student name Deborah Logan
['John Adams', 'James Bond', 'Ray Caldwell', 'Thomas David', 'Mary Jo', 'Stacy Johnson', 'Deborah Logan']
Please input a student name no more

In [67]:
print(roster)

['John Adams', 'James Bond', 'Ray Caldwell', 'Thomas David', 'Mary Jo', 'Stacy Johnson', 'Deborah Logan']

In [68]:
# Print the class roster by sorting the student names by their first name.
roster.sort()
roster1=('sorted by their first name \n'+'1.'+roster[0]+'\n2.'+roster[1]+'\n3.'+roster[2]+'\n4.'+roster[3]+'\n5.'+roster[4]+'\n6.'+roster[5]+'\n7.'+roster[6])
print(roster1)

sorted by their first name
1.Deborah Logan
2.James Bond
3.John Adams
4.Mary Jo
5.Ray Caldwell
6.Stacy Johnson
7.Thomas David

In [69]:
# Print the class roster by sorting the student names by their last name.
(roster[0].split(' '))

x0 = roster[0].split(' ')
x0.reverse()
separator = ', '
separator.join(x0)

x1 = roster[1].split(' ')
x1.reverse()
separator = ', '
separator.join(x1)

x2 = roster[2].split(' ')
x2.reverse()
separator = ', '
separator.join(x2)

x3 = roster[3].split(' ')
x3.reverse()
separator = ', '
separator.join(x3)

x4 = roster[4].split(' ')
x4.reverse()
separator = ', '
separator.join(x4)

x5 = roster[5].split(' ')
x5.reverse()
separator = ', '
separator.join(x5)

x6 = roster[6].split(' ')
x6.reverse()
separator = ', '
separator.join(x6)

roster2=[x0,x1,x2,x3,x4,x5,x6]
roster2.sort()

print('sorted by their last name \n'+'1.'+str(roster2[0][0])+', '+str(roster2[0][1])+'\n2.'+str(roster2[1][0])+', '+str(roster2[1][1])+'\n3.'+str(roster2[2][0])+', '+str(roster2[2][1])+'\n4.'+str(roster2[3][0])+', '+str(roster2[3][1])+'\n5.'+str(roster2[4][0])+', '+str(roster2[4][1])+'\n6.'+str(roster2[5][0])+', '+str(roster2[5][1])+'\n7.'+str(roster2[6][0])+', '+str(roster2[6][1]))

sorted by their last name
1.Adams, John
2.Bond, James
3.Caldwell, Ray
4.David, Thomas
5.Jo, Mary
6.Johnson, Stacy
7.Logan, Deborah

In [70]:
# Two students Mary Jo and Ray Caldwell leave the class. Update the roster by removing these two students and again print the two rosters, one sorted by first name and other sorted by last name.
roster.remove('Mary Jo')
roster.remove('Ray Caldwell')
print(roster)

['Deborah Logan', 'James Bond', 'John Adams', 'Stacy Johnson', 'Thomas David']

In [71]:
roster.sort()
print('sorted by their first name \n'+'1.'+roster[0]+'\n2.'+roster[1]+'\n3.'+roster[2]+'\n4.'+roster[3]+'\n5.'+roster[4])

sorted by their first name
1.Deborah Logan
2.James Bond
3.John Adams
4.Stacy Johnson
5.Thomas David

In [73]:
roster2.remove(['Jo', 'Mary'])
roster2.remove(['Caldwell', 'Ray'])

In [76]:
print('sorted by their last name \n'+'1.'+str(roster2[0][0])+', '+str(roster2[0][1])+'\n2.'+str(roster2[1][0])+', '+str(roster2[1][1])+'\n3.'+str(roster2[2][0])+', '+str(roster2[2][1])+'\n4.'+str(roster2[3][0])+', '+str(roster2[3][1])+'\n5.'+str(roster2[4][0])+', '+str(roster2[4][1]))

sorted by their last name
1.Adams, John
2.Bond, James
3.David, Thomas
4.Johnson, Stacy
5.Logan, Deborah

In [81]:
# You are a new student joining this class. Add your name to the class and again print the updated two rosters, one sorted by first name and other sorted by last name.
roster.append('Yanfei Qin')
roster.sort()
print(roster)

['Deborah Logan', 'James Bond', 'John Adams', 'Stacy Johnson', 'Thomas David', 'Yanfei Qin']

In [82]:
print('sorted by their first name \n'+'1.'+roster[0]+'\n2.'+roster[1]+'\n3.'+roster[2]+'\n4.'+roster[3]+'\n5.'+roster[4]+'\n6.'+roster[5])

sorted by their first name
1.Deborah Logan
2.James Bond
3.John Adams
4.Stacy Johnson
5.Thomas David
6.Yanfei Qin

In [84]:
roster2.append(['Qin', 'Yanfei'])
roster2.sort()
print(roster2)

[['Adams', 'John'], ['Bond', 'James'], ['David', 'Thomas'], ['Johnson', 'Stacy'], ['Logan', 'Deborah'], ['Qin', 'Yanfei']]

In [85]:
print('sorted by their last name \n'+'1.'+str(roster2[0][0])+', '+str(roster2[0][1])+'\n2.'+str(roster2[1][0])+', '+str(roster2[1][1])+'\n3.'+str(roster2[2][0])+', '+str(roster2[2][1])+'\n4.'+str(roster2[3][0])+', '+str(roster2[3][1])+'\n5.'+str(roster2[4][0])+', '+str(roster2[4][1])+'\n6.'+str(roster2[5][0])+', '+str(roster2[5][1]))

sorted by their last name
1.Adams, John
2.Bond, James
3.David, Thomas
4.Johnson, Stacy
5.Logan, Deborah
6.Qin, Yanfei

In [88]:
# 4.(Post-class) "In-class activity: Practice with common string methods" on slide 32 of Lecture 2 (5 points).
Names = ['John','Mary','Emily','Ida','Dan','Fanzeng','Michael']

In [90]:
Letter = 'John and Mary both like to listen to channel 24 but Ida prefers channel 28. Emily likes sushi and flavor 5A at the ice-cream shop. Fanzeng and Michael like course 607 but do not like 608. Dan told them to try sitting in a 2 hr long class taught by Emily.'

In [91]:
print(Letter)

John and Mary both like to listen to channel 24 but Ida prefers channel 28. Emily likes sushi and flavor 5A at the ice-cream shop. Fanzeng and Michael like course 607 but do not like 608. Dan told them to try sitting in a 2 hr long class taught by Emily.

In [92]:
for person in Names:
    Letter=Letter.replace(person,person[0])

In [93]:
print(Letter)

J and M both like to listen to channel 24 but I prefers channel 28. E likes sushi and flavor 5A at the ice-cream shop. F and M like course 607 but do not like 608. D told them to try sitting in a 2 hr long class taught by E.

In [95]:
number_list1=[24,28,2]
for number in number_list1:
    Letter=Letter.replace(str(number),bin(number))

In [96]:
print(Letter)

J and M both like to listen to channel 0b11000 but I prefers channel 0b11100. E likes sushi and flavor 5A at the ice-cream shop. F and M like course 607 but do not like 608. D told them to try sitting in a 0b10 hr long class taught by E.

In [97]:
number_list2=[607,608]
for numbers in number_list2:
    Letter=Letter.replace(str(numbers),hex(numbers))

In [98]:
print(Letter)

J and M both like to listen to channel 0b11000 but I prefers channel 0b11100. E likes sushi and flavor 5A at the ice-cream shop. F and M like course 0x25f but do not like 0x260. D told them to try sitting in a 0b10 hr long class taught by E.

In [144]:
list=['5A']
for text in list:
    Letter=Letter.replace(str(text),'xyz')

In [145]:
print(Letter)

J and M both like to listen to channel 0b11000 but I prefers channel 0b11100. E likes sushi and flavor xyz at the ice-cream shop. F and M like course 0x25f but do not like 0x260. D told them to try sitting in a 0b10 hr long class taught by E.

In [146]:
print(Letter.split(' '))

['J', 'and', 'M', 'both', 'like', 'to', 'listen', 'to', 'channel', '0b11000', 'but', 'I', 'prefers', 'channel', '0b11100.', 'E', 'likes', 'sushi', 'and', 'flavor', 'xyz', 'at', 'the', 'ice-cream', 'shop.', 'F', 'and', 'M', 'like', 'course', '0x25f', 'but', 'do', 'not', 'like', '0x260.', 'D', 'told', 'them', 'to', 'try', 'sitting', 'in', 'a', '0b10', 'hr', 'long', 'class', 'taught', 'by', 'E.']

In [147]:
'ABC'.join(Letter.split(' '))

'JABCandABCMABCbothABClikeABCtoABClistenABCtoABCchannelABC0b11000ABCbutABCIABCprefersABCchannelABC0b11100.ABCEABClikesABCsushiABCandABCflavorABCxyzABCatABCtheABCice-creamABCshop.ABCFABCandABCMABClikeABCcourseABC0x25fABCbutABCdoABCnotABClikeABC0x260.ABCDABCtoldABCthemABCtoABCtryABCsittingABCinABCaABC0b10ABChrABClongABCclassABCtaughtABCbyABCE.'

In [131]:
#5.(Post-class): This activity is going to check your understanding of some fundamental concepts about variables and lists in Python. (5 points)

#What is the average (mean) population of these five metropolitan areas?
import statistics
NYC_pop=18897109
LA_pop=12828837
Chicago_pop=9461105
Dallas_pop=6366542
Huston_pop=5920416
cities_pop=[NYC_pop,LA_pop,Chicago_pop,Dallas_pop,Huston_pop]
x=statistics.mean(cities_pop)
print("The mean population of the top 5 citics is", x )

The mean population of the top 5 citics is 10694801.8

In [140]:
#How many characters total, including spaces, are in the names of these five metropolitan areas?
sentence="New York City,Los Angeles,Chicago,Dallas,Houston"
sentence2=sentence.split(",")
print(sentence2)
print(len(sentence2))
print("The total number of characters in city names are",len(sentence2[0])+len(sentence2[1])+len(sentence2[2])+len(sentence2[3])+len(sentence2[4]))

['New York City', 'Los Angeles', 'Chicago', 'Dallas', 'Houston']
5
The total number of characters in city names are 44

In [143]:
#Create a variable storing the list of all five city names. Sort that list using Python's .sort() method for lists. What is the second name in the sorted list?
sentence2.sort()
print(sentence2)
print('The second name in the sorted list is '+ str(sentence2[1]))

['Chicago', 'Dallas', 'Houston', 'Los Angeles', 'New York City']
The second name in the sorted list is Dallas