<a href="https://colab.research.google.com/github/YQ617/code-samples/blob/Data-Analysis-and-Visualization/Yanfei_Qin_Participation_Activity_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Participation Activity 5
### Name: Yanfei Qin
### PennKey: yfqin
### PennID: 51386260

In [ ]:
numbers = [1, 2, 3]

In [ ]:
list(filter(lambda x: x > 1, numbers))

[2, 3]

## Activity 4: Calculate number of lines in a file
described on slide 23 of Lecture 4. You need to implement 3 functions which all achieve the same purpose of counting the number of lines in a file but each uses a different method to read contents of the file. (6 points).

In [ ]:
from google.colab import files

In [ ]:
uploaded = files.upload()

Saving sonnet29.txt to sonnet29.txt

In [ ]:
test_file = open('sonnet29.txt')

Function 1: count_read()

In [ ]:
def count_read(file_path):
    numb_line = 0
    test_file = open(file_path)
    test_file.seek(0)

    content = test_file.read()
    
    numb_line += content.count('\n') 
        
    print('The number of lines in the file is ' + str(numb_line))

In [ ]:
file_path = input("Enter the file path: ")
count_read(file_path)

Enter the file path: /content/sonnet29.txt
The number of lines in the file is 4

Function 2: count_readline()

In [ ]:
def count_readline(file_path):
    content_line = []
    test_file = open(file_path)
    test_file.seek(0)

    while True:
        line = test_file.readline()
        if line not in content_line and len(line)>0:
            content_line.append(line)
        else:
            break

    print('The number of lines in the file is ' + str(len(content_line)))

In [ ]:
file_path = input("Enter the file path: ")
count_readline(file_path)

Enter the file path: /content/sonnet29.txt
The number of lines in the file is 4

Function 3: count_readlines()

In [ ]:
def count_readlines(file_path):
    test_file = open(file_path)
    test_file.seek(0)
    len_line = len(test_file.readlines())
    print('The number of lines in the file is ' + str(len_line))

In [ ]:
file_path = input("Enter the file path: ")
count_readlines(file_path)

Enter the file path: /content/sonnet29.txt
The number of lines in the file is 4

## Activity 5: Modifying contents of a file
described on slide 25 of Lecture 4. (4 points)

In [ ]:
def modify_line(file, num_of_line, new_line):
    content = open(file, 'r').readlines()
    content[num_of_line] = new_line
    new_file = open(file, 'w')
    new_file.writelines(content)
    new_file.close()

In [ ]:
modify_line('sonnet29.txt', 1, 'I along with my spirit enjoy my outcast state,\n')

In [ ]:
modify_line('sonnet29.txt', 3, 'And look upon myself and bless my fate,\n')

In [ ]:
new_test_file = open('sonnet29.txt')
new_test_file.readlines()

["When, in disgrace with fortune and men's eyes,\n",
 'I along with my spirit enjoy my outcast state,\n',
 'And trouble deaf heaven with bootless cries,\n',
 'And look upon myself and bless my fate,\n']

### Activity 1: Read and write employee data from a csv using csv reader and writer
 described on slide 6 of Lecture 5.  (8 points)

In [ ]:
import csv
files.upload()

Saving employee.csv to employee.csv

{'employee.csv': b'EMPLOYEE_ID,FIRST_NAME,LAST_NAME,EMAIL,PHONE_NUMBER,HIRE_DATE,JOB_ID,SALARY,BONUS_PAY,MANAGER_ID,DEPARTMENT_ID\n198,Donald,OConnell,DOCONNEL,650.507.9833,21-JUN-07,SH_CLERK,2600, - ,124,50\n199,Douglas,Grant,DGRANT,650.507.9844,13-JAN-08,SH_CLERK,2600, - ,124,50\n200,Jennifer,Whalen,JWHALEN,515.123.4444,17-SEP-03,AD_ASST,4400, - ,101,10\n201,Michael,Hartstein,MHARTSTE,515.123.5555,17-FEB-04,MK_MAN,13000, - ,100,20\n202,Pat,Fay,PFAY,603.123.6666,17-AUG-05,MK_REP,6000, - ,201,20\n203,Susan,Mavris,SMAVRIS,515.123.7777,07-JUN-02,HR_REP,6500, - ,101,40\n204,Hermann,Baer,HBAER,515.123.8888,07-JUN-02,PR_REP,10000, - ,101,70\n205,Shelley,Higgins,SHIGGINS,515.123.8080,07-JUN-02,AC_MGR,12008, - ,101,110\n206,William,Gietz,WGIETZ,515.123.8181,07-JUN-02,AC_ACCOUNT,8300, - ,205,110\n100,Steven,King,SKING,515.123.4567,17-JUN-03,AD_PRES,24000, - , - ,90\n101,Neena,Kochhar,NKOCHHAR,515.123.4568,21-SEP-05,AD_VP,17000, - ,100,90\n102,Lex,De Haan,LDEHAAN,515.123.4569,13-JAN-01,AD_VP,17000, - ,100,90\n103,Alexander,Hunold,AHUNOLD,590.423.4567,03-JAN-06,IT_PROG,9000, - ,102,60\n104,Bruce,Ernst,BERNST,590.423.4568,21-MAY-07,IT_PROG,6000, - ,103,60\n105,David,Austin,DAUSTIN,590.423.4569,25-JUN-05,IT_PROG,4800, - ,103,60\n106,Valli,Pataballa,VPATABAL,590.423.4560,05-FEB-06,IT_PROG,4800, - ,103,60\n107,Diana,Lorentz,DLORENTZ,590.423.5567,07-FEB-07,IT_PROG,4200, - ,103,60\n108,Nancy,Greenberg,NGREENBE,515.124.4569,17-AUG-02,FI_MGR,12008, - ,101,100\n109,Daniel,Faviet,DFAVIET,515.124.4169,16-AUG-02,FI_ACCOUNT,9000, - ,108,100\n110,John,Chen,JCHEN,515.124.4269,28-SEP-05,FI_ACCOUNT,8200, - ,108,100\n111,Ismael,Sciarra,ISCIARRA,515.124.4369,30-SEP-05,FI_ACCOUNT,7700, - ,108,100\n112,Jose Manuel,Urman,JMURMAN,515.124.4469,07-MAR-06,FI_ACCOUNT,7800, - ,108,100\n113,Luis,Popp,LPOPP,515.124.4567,07-DEC-07,FI_ACCOUNT,6900, - ,108,100\n114,Den,Raphaely,DRAPHEAL,515.127.4561,07-DEC-02,PU_MAN,11000, - ,100,30\n115,Alexander,Khoo,AKHOO,515.127.4562,18-MAY-03,PU_CLERK,3100, - ,114,30\n116,Shelli,Baida,SBAIDA,515.127.4563,24-DEC-05,PU_CLERK,2900, - ,114,30\n117,Sigal,Tobias,STOBIAS,515.127.4564,24-JUL-05,PU_CLERK,2800, - ,114,30\n118,Guy,Himuro,GHIMURO,515.127.4565,15-NOV-06,PU_CLERK,2600, - ,114,30\n119,Karen,Colmenares,KCOLMENA,515.127.4566,10-AUG-07,PU_CLERK,2500, - ,114,30\n120,Matthew,Weiss,MWEISS,650.123.1234,18-JUL-04,ST_MAN,8000, - ,100,50\n121,Adam,Fripp,AFRIPP,650.123.2234,10-APR-05,ST_MAN,8200, - ,100,50\n122,Payam,Kaufling,PKAUFLIN,650.123.3234,01-MAY-03,ST_MAN,7900, - ,100,50\n123,Shanta,Vollman,SVOLLMAN,650.123.4234,10-OCT-05,ST_MAN,6500, - ,100,50\n124,Kevin,Mourgos,KMOURGOS,650.123.5234,16-NOV-07,ST_MAN,5800, - ,100,50\n125,Julia,Nayer,JNAYER,650.124.1214,16-JUL-05,ST_CLERK,3200, - ,120,50\n126,Irene,Mikkilineni,IMIKKILI,650.124.1224,28-SEP-06,ST_CLERK,2700, - ,120,50\n127,James,Landry,JLANDRY,650.124.1334,14-JAN-07,ST_CLERK,2400, - ,120,50\n128,Steven,Markle,SMARKLE,650.124.1434,08-MAR-08,ST_CLERK,2200, - ,120,50\n129,Laura,Bissot,LBISSOT,650.124.5234,20-AUG-05,ST_CLERK,3300, - ,121,50\n130,Mozhe,Atkinson,MATKINSO,650.124.6234,30-OCT-05,ST_CLERK,2800, - ,121,50\n131,James,Marlow,JAMRLOW,650.124.7234,16-FEB-05,ST_CLERK,2500, - ,121,50\n132,TJ,Olson,TJOLSON,650.124.8234,10-APR-07,ST_CLERK,2100, - ,121,50\n133,Jason,Mallin,JMALLIN,650.127.1934,14-JUN-04,ST_CLERK,3300, - ,122,50\n134,Michael,Rogers,MROGERS,650.127.1834,26-AUG-06,ST_CLERK,2900, - ,122,50\n135,Ki,Gee,KGEE,650.127.1734,12-DEC-07,ST_CLERK,2400, - ,122,50\n136,Hazel,Philtanker,HPHILTAN,650.127.1634,06-FEB-08,ST_CLERK,2200, - ,122,50\n137,Renske,Ladwig,RLADWIG,650.121.1234,14-JUL-03,ST_CLERK,3600, - ,123,50\n138,Stephen,Stiles,SSTILES,650.121.2034,26-OCT-05,ST_CLERK,3200, - ,123,50\n139,John,Seo,JSEO,650.121.2019,12-FEB-06,ST_CLERK,2700, - ,123,50\n140,Joshua,Patel,JPATEL,650.121.1834,06-APR-06,ST_CLERK,2500, - ,123,50\n'}

In [ ]:
EmployeeFile = open('employee.csv')
EmployeeReader = csv.reader(EmployeeFile)

In [ ]:
for row in EmployeeReader:
  print('Row #'+ str(EmployeeReader.line_num)+' '+str(row))

Row #1 ['EMPLOYEE_ID', 'FIRST_NAME', 'LAST_NAME', 'EMAIL', 'PHONE_NUMBER', 'HIRE_DATE', 'JOB_ID', 'SALARY', 'BONUS_PAY', 'MANAGER_ID', 'DEPARTMENT_ID']
Row #2 ['198', 'Donald', 'OConnell', 'DOCONNEL', '650.507.9833', '21-JUN-07', 'SH_CLERK', '2600', ' - ', '124', '50']
Row #3 ['199', 'Douglas', 'Grant', 'DGRANT', '650.507.9844', '13-JAN-08', 'SH_CLERK', '2600', ' - ', '124', '50']
Row #4 ['200', 'Jennifer', 'Whalen', 'JWHALEN', '515.123.4444', '17-SEP-03', 'AD_ASST', '4400', ' - ', '101', '10']
Row #5 ['201', 'Michael', 'Hartstein', 'MHARTSTE', '515.123.5555', '17-FEB-04', 'MK_MAN', '13000', ' - ', '100', '20']
Row #6 ['202', 'Pat', 'Fay', 'PFAY', '603.123.6666', '17-AUG-05', 'MK_REP', '6000', ' - ', '201', '20']
Row #7 ['203', 'Susan', 'Mavris', 'SMAVRIS', '515.123.7777', '07-JUN-02', 'HR_REP', '6500', ' - ', '101', '40']
Row #8 ['204', 'Hermann', 'Baer', 'HBAER', '515.123.8888', '07-JUN-02', 'PR_REP', '10000', ' - ', '101', '70']
Row #9 ['205', 'Shelley', 'Higgins', 'SHIGGINS', '515.123.8080', '07-JUN-02', 'AC_MGR', '12008', ' - ', '101', '110']
Row #10 ['206', 'William', 'Gietz', 'WGIETZ', '515.123.8181', '07-JUN-02', 'AC_ACCOUNT', '8300', ' - ', '205', '110']
Row #11 ['100', 'Steven', 'King', 'SKING', '515.123.4567', '17-JUN-03', 'AD_PRES', '24000', ' - ', ' - ', '90']
Row #12 ['101', 'Neena', 'Kochhar', 'NKOCHHAR', '515.123.4568', '21-SEP-05', 'AD_VP', '17000', ' - ', '100', '90']
Row #13 ['102', 'Lex', 'De Haan', 'LDEHAAN', '515.123.4569', '13-JAN-01', 'AD_VP', '17000', ' - ', '100', '90']
Row #14 ['103', 'Alexander', 'Hunold', 'AHUNOLD', '590.423.4567', '03-JAN-06', 'IT_PROG', '9000', ' - ', '102', '60']
Row #15 ['104', 'Bruce', 'Ernst', 'BERNST', '590.423.4568', '21-MAY-07', 'IT_PROG', '6000', ' - ', '103', '60']
Row #16 ['105', 'David', 'Austin', 'DAUSTIN', '590.423.4569', '25-JUN-05', 'IT_PROG', '4800', ' - ', '103', '60']
Row #17 ['106', 'Valli', 'Pataballa', 'VPATABAL', '590.423.4560', '05-FEB-06', 'IT_PROG', '4800', ' - ', '103', '60']
Row #18 ['107', 'Diana', 'Lorentz', 'DLORENTZ', '590.423.5567', '07-FEB-07', 'IT_PROG', '4200', ' - ', '103', '60']
Row #19 ['108', 'Nancy', 'Greenberg', 'NGREENBE', '515.124.4569', '17-AUG-02', 'FI_MGR', '12008', ' - ', '101', '100']
Row #20 ['109', 'Daniel', 'Faviet', 'DFAVIET', '515.124.4169', '16-AUG-02', 'FI_ACCOUNT', '9000', ' - ', '108', '100']
Row #21 ['110', 'John', 'Chen', 'JCHEN', '515.124.4269', '28-SEP-05', 'FI_ACCOUNT', '8200', ' - ', '108', '100']
Row #22 ['111', 'Ismael', 'Sciarra', 'ISCIARRA', '515.124.4369', '30-SEP-05', 'FI_ACCOUNT', '7700', ' - ', '108', '100']
Row #23 ['112', 'Jose Manuel', 'Urman', 'JMURMAN', '515.124.4469', '07-MAR-06', 'FI_ACCOUNT', '7800', ' - ', '108', '100']
Row #24 ['113', 'Luis', 'Popp', 'LPOPP', '515.124.4567', '07-DEC-07', 'FI_ACCOUNT', '6900', ' - ', '108', '100']
Row #25 ['114', 'Den', 'Raphaely', 'DRAPHEAL', '515.127.4561', '07-DEC-02', 'PU_MAN', '11000', ' - ', '100', '30']
Row #26 ['115', 'Alexander', 'Khoo', 'AKHOO', '515.127.4562', '18-MAY-03', 'PU_CLERK', '3100', ' - ', '114', '30']
Row #27 ['116', 'Shelli', 'Baida', 'SBAIDA', '515.127.4563', '24-DEC-05', 'PU_CLERK', '2900', ' - ', '114', '30']
Row #28 ['117', 'Sigal', 'Tobias', 'STOBIAS', '515.127.4564', '24-JUL-05', 'PU_CLERK', '2800', ' - ', '114', '30']
Row #29 ['118', 'Guy', 'Himuro', 'GHIMURO', '515.127.4565', '15-NOV-06', 'PU_CLERK', '2600', ' - ', '114', '30']
Row #30 ['119', 'Karen', 'Colmenares', 'KCOLMENA', '515.127.4566', '10-AUG-07', 'PU_CLERK', '2500', ' - ', '114', '30']
Row #31 ['120', 'Matthew', 'Weiss', 'MWEISS', '650.123.1234', '18-JUL-04', 'ST_MAN', '8000', ' - ', '100', '50']
Row #32 ['121', 'Adam', 'Fripp', 'AFRIPP', '650.123.2234', '10-APR-05', 'ST_MAN', '8200', ' - ', '100', '50']
Row #33 ['122', 'Payam', 'Kaufling', 'PKAUFLIN', '650.123.3234', '01-MAY-03', 'ST_MAN', '7900', ' - ', '100', '50']
Row #34 ['123', 'Shanta', 'Vollman', 'SVOLLMAN', '650.123.4234', '10-OCT-05', 'ST_MAN', '6500', ' - ', '100', '50']
Row #35 ['124', 'Kevin', 'Mourgos', 'KMOURGOS', '650.123.5234', '16-NOV-07', 'ST_MAN', '5800', ' - ', '100', '50']
Row #36 ['125', 'Julia', 'Nayer', 'JNAYER', '650.124.1214', '16-JUL-05', 'ST_CLERK', '3200', ' - ', '120', '50']
Row #37 ['126', 'Irene', 'Mikkilineni', 'IMIKKILI', '650.124.1224', '28-SEP-06', 'ST_CLERK', '2700', ' - ', '120', '50']
Row #38 ['127', 'James', 'Landry', 'JLANDRY', '650.124.1334', '14-JAN-07', 'ST_CLERK', '2400', ' - ', '120', '50']
Row #39 ['128', 'Steven', 'Markle', 'SMARKLE', '650.124.1434', '08-MAR-08', 'ST_CLERK', '2200', ' - ', '120', '50']
Row #40 ['129', 'Laura', 'Bissot', 'LBISSOT', '650.124.5234', '20-AUG-05', 'ST_CLERK', '3300', ' - ', '121', '50']
Row #41 ['130', 'Mozhe', 'Atkinson', 'MATKINSO', '650.124.6234', '30-OCT-05', 'ST_CLERK', '2800', ' - ', '121', '50']
Row #42 ['131', 'James', 'Marlow', 'JAMRLOW', '650.124.7234', '16-FEB-05', 'ST_CLERK', '2500', ' - ', '121', '50']
Row #43 ['132', 'TJ', 'Olson', 'TJOLSON', '650.124.8234', '10-APR-07', 'ST_CLERK', '2100', ' - ', '121', '50']
Row #44 ['133', 'Jason', 'Mallin', 'JMALLIN', '650.127.1934', '14-JUN-04', 'ST_CLERK', '3300', ' - ', '122', '50']
Row #45 ['134', 'Michael', 'Rogers', 'MROGERS', '650.127.1834', '26-AUG-06', 'ST_CLERK', '2900', ' - ', '122', '50']
Row #46 ['135', 'Ki', 'Gee', 'KGEE', '650.127.1734', '12-DEC-07', 'ST_CLERK', '2400', ' - ', '122', '50']
Row #47 ['136', 'Hazel', 'Philtanker', 'HPHILTAN', '650.127.1634', '06-FEB-08', 'ST_CLERK', '2200', ' - ', '122', '50']
Row #48 ['137', 'Renske', 'Ladwig', 'RLADWIG', '650.121.1234', '14-JUL-03', 'ST_CLERK', '3600', ' - ', '123', '50']
Row #49 ['138', 'Stephen', 'Stiles', 'SSTILES', '650.121.2034', '26-OCT-05', 'ST_CLERK', '3200', ' - ', '123', '50']
Row #50 ['139', 'John', 'Seo', 'JSEO', '650.121.2019', '12-FEB-06', 'ST_CLERK', '2700', ' - ', '123', '50']
Row #51 ['140', 'Joshua', 'Patel', 'JPATEL', '650.121.1834', '06-APR-06', 'ST_CLERK', '2500', ' - ', '123', '50']

In [ ]:
EmployeeFile = open('employee.csv')
EmployeeReader = csv.reader(EmployeeFile)
next(EmployeeReader)
for row in EmployeeReader:
  print(str(row[5]))

21-JUN-07
13-JAN-08
17-SEP-03
17-FEB-04
17-AUG-05
07-JUN-02
07-JUN-02
07-JUN-02
07-JUN-02
17-JUN-03
21-SEP-05
13-JAN-01
03-JAN-06
21-MAY-07
25-JUN-05
05-FEB-06
07-FEB-07
17-AUG-02
16-AUG-02
28-SEP-05
30-SEP-05
07-MAR-06
07-DEC-07
07-DEC-02
18-MAY-03
24-DEC-05
24-JUL-05
15-NOV-06
10-AUG-07
18-JUL-04
10-APR-05
01-MAY-03
10-OCT-05
16-NOV-07
16-JUL-05
28-SEP-06
14-JAN-07
08-MAR-08
20-AUG-05
30-OCT-05
16-FEB-05
10-APR-07
14-JUN-04
26-AUG-06
12-DEC-07
06-FEB-08
14-JUL-03
26-OCT-05
12-FEB-06
06-APR-06

In [ ]:
EmployeeFile = open('employee.csv')
EmployeeReader = csv.reader(EmployeeFile)
next(EmployeeReader)
year_service = []
for row in EmployeeReader:
  year_service.append(str(21 - int((row[5][7] + row[5][8]))))

In [ ]:
year_service.insert(0,'YEARS_OF_SERVICE')
year_service

['YEARS_OF_SERVICE',
 '14',
 '13',
 '18',
 '17',
 '16',
 '19',
 '19',
 '19',
 '19',
 '18',
 '16',
 '20',
 '15',
 '14',
 '16',
 '15',
 '14',
 '19',
 '19',
 '16',
 '16',
 '15',
 '14',
 '19',
 '18',
 '16',
 '16',
 '15',
 '14',
 '17',
 '16',
 '18',
 '16',
 '14',
 '16',
 '15',
 '14',
 '13',
 '16',
 '16',
 '16',
 '14',
 '17',
 '15',
 '14',
 '13',
 '18',
 '16',
 '15',
 '15']

Here above I calculate the years of service for every employees and store these values into a list called year_service

In [ ]:
EmployeeFile = open('employee.csv')
EmployeeReader = csv.reader(EmployeeFile)
EmployeeData = list(EmployeeReader)

In [ ]:
for x, y in zip(EmployeeData, year_service):
    x.append(y)

Here above I have successfully append the years of service for each employee into the list of lists "EmployeeData" created from the original csv file. And I will store this list of lists into a new csv file in the following code cells.

In [ ]:
import csv
with open('new_employee.csv', 'w', newline='') as f:
    writer = csv.writer(f)
    writer.writerows(EmployeeData)

In [ ]:
import csv
NewEmployeeFile = open('new_employee.csv')
NewEmployeeReader = csv.reader(NewEmployeeFile)
next(NewEmployeeReader)
bonus_data = []
for row in NewEmployeeReader:
  if int(row[11]) < 5:
    row[8] = 12*0.25*int(row[7])
  elif int(row[11]) >= 5 and int(row[11]) < 10:
    row[8] = 12*0.35*int(row[7])
  elif int(row[11]) >= 10 and int(row[11]) < 15:
    row[8] = 12*0.45*int(row[7])
  elif int(row[11]) >= 15 and int(row[11]) < 20:
    row[8] = 12*0.75*int(row[7])
  elif int(row[11]) >= 20 and int(row[11]) <= 25:
    row[8] = 12*1*int(row[7])
  bonus_data.append(row[8])

In [ ]:
sum(bonus_data)

2682204.0

The above number 2682204.0 is the total amount of bonus salaries would given out if executing the HR's bonus plan. The amount is over $2 million budget that is offered by the finance department, so we do need a new bonus plan.

In [ ]:
import csv
NewEmployeeFile = open('new_employee.csv')
NewEmployeeReader = csv.reader(NewEmployeeFile)
row1 = next(NewEmployeeReader)

In [ ]:
import csv
NewEmployeeFile = open('new_employee.csv')
NewEmployeeReader = csv.reader(NewEmployeeFile)
print('Row #1'+str(row1))
next(NewEmployeeReader)
new_bonus_data = []
for row in NewEmployeeReader:
  if int(row[11]) < 5:
    row[8] = 12*(0.25-0.184)*int(row[7]) 
  elif int(row[11]) >= 5 and int(row[11]) < 10:
    row[8] = 12*(0.35-0.184)*int(row[7])
  elif int(row[11]) >= 10 and int(row[11]) < 15:
    row[8] = 12*(0.45-0.184)*int(row[7])
  elif int(row[11]) >= 15 and int(row[11]) < 20:
    row[8] = 12*(0.75-0.184)*int(row[7])
  elif int(row[11]) >= 20 and int(row[11]) <= 25:
    row[8] = 12*(1-0.184)*int(row[7])
  new_bonus_data.append(row[8])
  print('Row #'+ str(NewEmployeeReader.line_num)+' '+str(row))

Row #1['EMPLOYEE_ID', 'FIRST_NAME', 'LAST_NAME', 'EMAIL', 'PHONE_NUMBER', 'HIRE_DATE', 'JOB_ID', 'SALARY', 'BONUS_PAY', 'MANAGER_ID', 'DEPARTMENT_ID', 'YEARS_OF_SERVICE']
Row #2 ['198', 'Donald', 'OConnell', 'DOCONNEL', '650.507.9833', '21-JUN-07', 'SH_CLERK', '2600', 8299.2, '124', '50', '14']
Row #3 ['199', 'Douglas', 'Grant', 'DGRANT', '650.507.9844', '13-JAN-08', 'SH_CLERK', '2600', 8299.2, '124', '50', '13']
Row #4 ['200', 'Jennifer', 'Whalen', 'JWHALEN', '515.123.4444', '17-SEP-03', 'AD_ASST', '4400', 29884.800000000003, '101', '10', '18']
Row #5 ['201', 'Michael', 'Hartstein', 'MHARTSTE', '515.123.5555', '17-FEB-04', 'MK_MAN', '13000', 88296.00000000001, '100', '20', '17']
Row #6 ['202', 'Pat', 'Fay', 'PFAY', '603.123.6666', '17-AUG-05', 'MK_REP', '6000', 40752.00000000001, '201', '20', '16']
Row #7 ['203', 'Susan', 'Mavris', 'SMAVRIS', '515.123.7777', '07-JUN-02', 'HR_REP', '6500', 44148.00000000001, '101', '40', '19']
Row #8 ['204', 'Hermann', 'Baer', 'HBAER', '515.123.8888', '07-JUN-02', 'PR_REP', '10000', 67920.0, '101', '70', '19']
Row #9 ['205', 'Shelley', 'Higgins', 'SHIGGINS', '515.123.8080', '07-JUN-02', 'AC_MGR', '12008', 81558.33600000001, '101', '110', '19']
Row #10 ['206', 'William', 'Gietz', 'WGIETZ', '515.123.8181', '07-JUN-02', 'AC_ACCOUNT', '8300', 56373.600000000006, '205', '110', '19']
Row #11 ['100', 'Steven', 'King', 'SKING', '515.123.4567', '17-JUN-03', 'AD_PRES', '24000', 163008.00000000003, ' - ', '90', '18']
Row #12 ['101', 'Neena', 'Kochhar', 'NKOCHHAR', '515.123.4568', '21-SEP-05', 'AD_VP', '17000', 115464.00000000001, '100', '90', '16']
Row #13 ['102', 'Lex', 'De Haan', 'LDEHAAN', '515.123.4569', '13-JAN-01', 'AD_VP', '17000', 166464.00000000003, '100', '90', '20']
Row #14 ['103', 'Alexander', 'Hunold', 'AHUNOLD', '590.423.4567', '03-JAN-06', 'IT_PROG', '9000', 61128.00000000001, '102', '60', '15']
Row #15 ['104', 'Bruce', 'Ernst', 'BERNST', '590.423.4568', '21-MAY-07', 'IT_PROG', '6000', 19152.0, '103', '60', '14']
Row #16 ['105', 'David', 'Austin', 'DAUSTIN', '590.423.4569', '25-JUN-05', 'IT_PROG', '4800', 32601.600000000002, '103', '60', '16']
Row #17 ['106', 'Valli', 'Pataballa', 'VPATABAL', '590.423.4560', '05-FEB-06', 'IT_PROG', '4800', 32601.600000000002, '103', '60', '15']
Row #18 ['107', 'Diana', 'Lorentz', 'DLORENTZ', '590.423.5567', '07-FEB-07', 'IT_PROG', '4200', 13406.400000000001, '103', '60', '14']
Row #19 ['108', 'Nancy', 'Greenberg', 'NGREENBE', '515.124.4569', '17-AUG-02', 'FI_MGR', '12008', 81558.33600000001, '101', '100', '19']
Row #20 ['109', 'Daniel', 'Faviet', 'DFAVIET', '515.124.4169', '16-AUG-02', 'FI_ACCOUNT', '9000', 61128.00000000001, '108', '100', '19']
Row #21 ['110', 'John', 'Chen', 'JCHEN', '515.124.4269', '28-SEP-05', 'FI_ACCOUNT', '8200', 55694.40000000001, '108', '100', '16']
Row #22 ['111', 'Ismael', 'Sciarra', 'ISCIARRA', '515.124.4369', '30-SEP-05', 'FI_ACCOUNT', '7700', 52298.40000000001, '108', '100', '16']
Row #23 ['112', 'Jose Manuel', 'Urman', 'JMURMAN', '515.124.4469', '07-MAR-06', 'FI_ACCOUNT', '7800', 52977.600000000006, '108', '100', '15']
Row #24 ['113', 'Luis', 'Popp', 'LPOPP', '515.124.4567', '07-DEC-07', 'FI_ACCOUNT', '6900', 22024.800000000003, '108', '100', '14']
Row #25 ['114', 'Den', 'Raphaely', 'DRAPHEAL', '515.127.4561', '07-DEC-02', 'PU_MAN', '11000', 74712.00000000001, '100', '30', '19']
Row #26 ['115', 'Alexander', 'Khoo', 'AKHOO', '515.127.4562', '18-MAY-03', 'PU_CLERK', '3100', 21055.2, '114', '30', '18']
Row #27 ['116', 'Shelli', 'Baida', 'SBAIDA', '515.127.4563', '24-DEC-05', 'PU_CLERK', '2900', 19696.800000000003, '114', '30', '16']
Row #28 ['117', 'Sigal', 'Tobias', 'STOBIAS', '515.127.4564', '24-JUL-05', 'PU_CLERK', '2800', 19017.600000000002, '114', '30', '16']
Row #29 ['118', 'Guy', 'Himuro', 'GHIMURO', '515.127.4565', '15-NOV-06', 'PU_CLERK', '2600', 17659.2, '114', '30', '15']
Row #30 ['119', 'Karen', 'Colmenares', 'KCOLMENA', '515.127.4566', '10-AUG-07', 'PU_CLERK', '2500', 7980.0, '114', '30', '14']
Row #31 ['120', 'Matthew', 'Weiss', 'MWEISS', '650.123.1234', '18-JUL-04', 'ST_MAN', '8000', 54336.00000000001, '100', '50', '17']
Row #32 ['121', 'Adam', 'Fripp', 'AFRIPP', '650.123.2234', '10-APR-05', 'ST_MAN', '8200', 55694.40000000001, '100', '50', '16']
Row #33 ['122', 'Payam', 'Kaufling', 'PKAUFLIN', '650.123.3234', '01-MAY-03', 'ST_MAN', '7900', 53656.8, '100', '50', '18']
Row #34 ['123', 'Shanta', 'Vollman', 'SVOLLMAN', '650.123.4234', '10-OCT-05', 'ST_MAN', '6500', 44148.00000000001, '100', '50', '16']
Row #35 ['124', 'Kevin', 'Mourgos', 'KMOURGOS', '650.123.5234', '16-NOV-07', 'ST_MAN', '5800', 18513.600000000002, '100', '50', '14']
Row #36 ['125', 'Julia', 'Nayer', 'JNAYER', '650.124.1214', '16-JUL-05', 'ST_CLERK', '3200', 21734.4, '120', '50', '16']
Row #37 ['126', 'Irene', 'Mikkilineni', 'IMIKKILI', '650.124.1224', '28-SEP-06', 'ST_CLERK', '2700', 18338.4, '120', '50', '15']
Row #38 ['127', 'James', 'Landry', 'JLANDRY', '650.124.1334', '14-JAN-07', 'ST_CLERK', '2400', 7660.8, '120', '50', '14']
Row #39 ['128', 'Steven', 'Markle', 'SMARKLE', '650.124.1434', '08-MAR-08', 'ST_CLERK', '2200', 7022.400000000001, '120', '50', '13']
Row #40 ['129', 'Laura', 'Bissot', 'LBISSOT', '650.124.5234', '20-AUG-05', 'ST_CLERK', '3300', 22413.600000000002, '121', '50', '16']
Row #41 ['130', 'Mozhe', 'Atkinson', 'MATKINSO', '650.124.6234', '30-OCT-05', 'ST_CLERK', '2800', 19017.600000000002, '121', '50', '16']
Row #42 ['131', 'James', 'Marlow', 'JAMRLOW', '650.124.7234', '16-FEB-05', 'ST_CLERK', '2500', 16980.0, '121', '50', '16']
Row #43 ['132', 'TJ', 'Olson', 'TJOLSON', '650.124.8234', '10-APR-07', 'ST_CLERK', '2100', 6703.200000000001, '121', '50', '14']
Row #44 ['133', 'Jason', 'Mallin', 'JMALLIN', '650.127.1934', '14-JUN-04', 'ST_CLERK', '3300', 22413.600000000002, '122', '50', '17']
Row #45 ['134', 'Michael', 'Rogers', 'MROGERS', '650.127.1834', '26-AUG-06', 'ST_CLERK', '2900', 19696.800000000003, '122', '50', '15']
Row #46 ['135', 'Ki', 'Gee', 'KGEE', '650.127.1734', '12-DEC-07', 'ST_CLERK', '2400', 7660.8, '122', '50', '14']
Row #47 ['136', 'Hazel', 'Philtanker', 'HPHILTAN', '650.127.1634', '06-FEB-08', 'ST_CLERK', '2200', 7022.400000000001, '122', '50', '13']
Row #48 ['137', 'Renske', 'Ladwig', 'RLADWIG', '650.121.1234', '14-JUL-03', 'ST_CLERK', '3600', 24451.2, '123', '50', '18']
Row #49 ['138', 'Stephen', 'Stiles', 'SSTILES', '650.121.2034', '26-OCT-05', 'ST_CLERK', '3200', 21734.4, '123', '50', '16']
Row #50 ['139', 'John', 'Seo', 'JSEO', '650.121.2019', '12-FEB-06', 'ST_CLERK', '2700', 18338.4, '123', '50', '15']
Row #51 ['140', 'Joshua', 'Patel', 'JPATEL', '650.121.1834', '06-APR-06', 'ST_CLERK', '2500', 16980.0, '123', '50', '15']

By extract the same constant 0.183 from all bonus %, we will get a total amount of 2003385, which is slightly above our budget. 

By extract the same constant 0.184 from all bonus %, we will get the closest total amount of 1999675.872 (rounded) to our 2M budget (if only consider a constant number that has a 3 decimal places).

I have already add the amount under “BONUS_PAY” column in employee.csv. Next, we simply need to create the new bonus scale and save it in a file called bonus_scale.csv.

In [ ]:
import csv
with open('bonus_scale.csv', 'w', newline='') as BonusFile:
    writer = csv.writer(BonusFile)
    writer.writerow(["Employee’s years of service",'Bonus as % of base annual salary'])
    writer.writerow(['0-5','6.6'])
    writer.writerow(['5-10','16.6'])
    writer.writerow(['10-15','26.6'])
    writer.writerow(['15-20','56.6'])
    writer.writerow(['20-25','81.6'])
    BonusFile.close()
file_bonus = open('bonus_scale.csv')
BonusReader = csv.reader(file_bonus)
for row in BonusReader:
  print(row)
#I do not know how to print out a exact same table as it shown in the question, but I indeed have created it:)

['Employee’s years of service', 'Bonus as % of base annual salary']
['0-5', '6.6']
['5-10', '16.6']
['10-15', '26.6']
['15-20', '56.6']
['20-25', '81.6']

## Activity 2: Using csv reader and writer
described on slide 8 of Lecture 5. (5 points)

In [ ]:
import csv
files.upload()

Saving student_grades.csv to student_grades.csv

{'student_grades.csv': b'student-id,ELA,Algebra,Chemistry,Economics,Physics,World History\n1234,B,A-,B+,A,B,A-\n3456,A-,A,B+,A,A-,C\n3971,B,B+,C,C+,B,A-\n4020,B-,A-,A,A-,B+,B\n5091,A,C+,B-,A,B+,A\n'}

In [ ]:
StudentGradesFile = open('student_grades.csv')
StudentGradesReader = csv.reader(StudentGradesFile)
GPA_LetterGrade_scale = {'A' : 4.0, 'A-': 3.75, 'B+': 3.5, 'B': 3.25, 'B-': 3, 'C+': 2.75, 'C': 2.5, 'C-': 2.25, 'F': 0}
name_list = []
GPA_list = []
for row in list(StudentGradesReader)[1:]:
  name_list.append(str(row[0]))
  Student_Avg_GPA = (GPA_LetterGrade_scale[row[1]]+GPA_LetterGrade_scale[row[2]]+GPA_LetterGrade_scale[row[3]]+GPA_LetterGrade_scale[row[4]]+GPA_LetterGrade_scale[row[5]]+GPA_LetterGrade_scale[row[6]])/6
  GPA_list.append(Student_Avg_GPA)

In [ ]:
name_list

['1234', '3456', '3971', '4020', '5091']

In [ ]:
GPA_list

[3.5833333333333335,
 3.5833333333333335,
 3.1666666666666665,
 3.5416666666666665,
 3.5416666666666665]

In [ ]:
name_GPA = dict(zip(name_list,GPA_list))
name_GPA

{'1234': 3.5833333333333335,
 '3456': 3.5833333333333335,
 '3971': 3.1666666666666665,
 '4020': 3.5416666666666665,
 '5091': 3.5416666666666665}

In [ ]:
import csv
GPA_file = open('Student_GPA_new_file.tsv','w')
csvWriter = csv.writer(GPA_file,delimiter='\t',lineterminator='\n\n\n')
csvWriter.writerow(['student_name','student_GPA'])
csvWriter.writerow(['1234','3.5833333333333335'])
csvWriter.writerow(['3456','3.5833333333333335'])
csvWriter.writerow(['4020','3.5416666666666665'])
csvWriter.writerow(['5091','3.5416666666666665'])
csvWriter.writerow(['3971','3.1666666666666665'])
GPA_file.close()

In [ ]:
file1 = open('Student_GPA_new_file.tsv')
outputReader = csv.reader(file1)
for row in outputReader:
    print(row)

['student_name\tstudent_GPA']
[]
[]
['1234\t3.5833333333333335']
[]
[]
['3456\t3.5833333333333335']
[]
[]
['4020\t3.5416666666666665']
[]
[]
['5091\t3.5416666666666665']
[]
[]
['3971\t3.1666666666666665']
[]
[]

## Activity 3: Read and write employee data from a csv using DictReader and DictWriter
 described on slide 11 of Lecture 5. (7 points)

In [ ]:
import csv
NewEmployeeFile = open('new_employee.csv')
NewEmployeeReader = csv.DictReader(NewEmployeeFile)
new_bonus_data = []
for row in NewEmployeeReader:
  if int(row['YEARS_OF_SERVICE']) < 5:
    row['BONUS_PAY'] = 12*0.25*int(row['SALARY']) 
  elif int(row['YEARS_OF_SERVICE']) >= 5 and int(row['YEARS_OF_SERVICE']) < 10:
    row['BONUS_PAY'] = 12*0.35*int(row['SALARY'])
  elif int(row['YEARS_OF_SERVICE']) >= 10 and int(row['YEARS_OF_SERVICE']) < 15:
    row['BONUS_PAY'] = 12*0.45*int(row['SALARY'])
  elif int(row['YEARS_OF_SERVICE']) >= 15 and int(row['YEARS_OF_SERVICE']) < 20:
    row['BONUS_PAY'] = 12*0.75*int(row['SALARY'])
  elif int(row['YEARS_OF_SERVICE']) >= 20 and int(row['YEARS_OF_SERVICE']) <= 25:
    row['BONUS_PAY'] = 12*1*int(row['SALARY'])
  new_bonus_data.append(row['BONUS_PAY'])
  print('Row #'+ str(NewEmployeeReader.line_num)+' '+str(row))

Row #2 OrderedDict([('EMPLOYEE_ID', '198'), ('FIRST_NAME', 'Donald'), ('LAST_NAME', 'OConnell'), ('EMAIL', 'DOCONNEL'), ('PHONE_NUMBER', '650.507.9833'), ('HIRE_DATE', '21-JUN-07'), ('JOB_ID', 'SH_CLERK'), ('SALARY', '2600'), ('BONUS_PAY', 14040.000000000002), ('MANAGER_ID', '124'), ('DEPARTMENT_ID', '50'), ('YEARS_OF_SERVICE', '14')])
Row #3 OrderedDict([('EMPLOYEE_ID', '199'), ('FIRST_NAME', 'Douglas'), ('LAST_NAME', 'Grant'), ('EMAIL', 'DGRANT'), ('PHONE_NUMBER', '650.507.9844'), ('HIRE_DATE', '13-JAN-08'), ('JOB_ID', 'SH_CLERK'), ('SALARY', '2600'), ('BONUS_PAY', 14040.000000000002), ('MANAGER_ID', '124'), ('DEPARTMENT_ID', '50'), ('YEARS_OF_SERVICE', '13')])
Row #4 OrderedDict([('EMPLOYEE_ID', '200'), ('FIRST_NAME', 'Jennifer'), ('LAST_NAME', 'Whalen'), ('EMAIL', 'JWHALEN'), ('PHONE_NUMBER', '515.123.4444'), ('HIRE_DATE', '17-SEP-03'), ('JOB_ID', 'AD_ASST'), ('SALARY', '4400'), ('BONUS_PAY', 39600.0), ('MANAGER_ID', '101'), ('DEPARTMENT_ID', '10'), ('YEARS_OF_SERVICE', '18')])
Row #5 OrderedDict([('EMPLOYEE_ID', '201'), ('FIRST_NAME', 'Michael'), ('LAST_NAME', 'Hartstein'), ('EMAIL', 'MHARTSTE'), ('PHONE_NUMBER', '515.123.5555'), ('HIRE_DATE', '17-FEB-04'), ('JOB_ID', 'MK_MAN'), ('SALARY', '13000'), ('BONUS_PAY', 117000.0), ('MANAGER_ID', '100'), ('DEPARTMENT_ID', '20'), ('YEARS_OF_SERVICE', '17')])
Row #6 OrderedDict([('EMPLOYEE_ID', '202'), ('FIRST_NAME', 'Pat'), ('LAST_NAME', 'Fay'), ('EMAIL', 'PFAY'), ('PHONE_NUMBER', '603.123.6666'), ('HIRE_DATE', '17-AUG-05'), ('JOB_ID', 'MK_REP'), ('SALARY', '6000'), ('BONUS_PAY', 54000.0), ('MANAGER_ID', '201'), ('DEPARTMENT_ID', '20'), ('YEARS_OF_SERVICE', '16')])
Row #7 OrderedDict([('EMPLOYEE_ID', '203'), ('FIRST_NAME', 'Susan'), ('LAST_NAME', 'Mavris'), ('EMAIL', 'SMAVRIS'), ('PHONE_NUMBER', '515.123.7777'), ('HIRE_DATE', '07-JUN-02'), ('JOB_ID', 'HR_REP'), ('SALARY', '6500'), ('BONUS_PAY', 58500.0), ('MANAGER_ID', '101'), ('DEPARTMENT_ID', '40'), ('YEARS_OF_SERVICE', '19')])
Row #8 OrderedDict([('EMPLOYEE_ID', '204'), ('FIRST_NAME', 'Hermann'), ('LAST_NAME', 'Baer'), ('EMAIL', 'HBAER'), ('PHONE_NUMBER', '515.123.8888'), ('HIRE_DATE', '07-JUN-02'), ('JOB_ID', 'PR_REP'), ('SALARY', '10000'), ('BONUS_PAY', 90000.0), ('MANAGER_ID', '101'), ('DEPARTMENT_ID', '70'), ('YEARS_OF_SERVICE', '19')])
Row #9 OrderedDict([('EMPLOYEE_ID', '205'), ('FIRST_NAME', 'Shelley'), ('LAST_NAME', 'Higgins'), ('EMAIL', 'SHIGGINS'), ('PHONE_NUMBER', '515.123.8080'), ('HIRE_DATE', '07-JUN-02'), ('JOB_ID', 'AC_MGR'), ('SALARY', '12008'), ('BONUS_PAY', 108072.0), ('MANAGER_ID', '101'), ('DEPARTMENT_ID', '110'), ('YEARS_OF_SERVICE', '19')])
Row #10 OrderedDict([('EMPLOYEE_ID', '206'), ('FIRST_NAME', 'William'), ('LAST_NAME', 'Gietz'), ('EMAIL', 'WGIETZ'), ('PHONE_NUMBER', '515.123.8181'), ('HIRE_DATE', '07-JUN-02'), ('JOB_ID', 'AC_ACCOUNT'), ('SALARY', '8300'), ('BONUS_PAY', 74700.0), ('MANAGER_ID', '205'), ('DEPARTMENT_ID', '110'), ('YEARS_OF_SERVICE', '19')])
Row #11 OrderedDict([('EMPLOYEE_ID', '100'), ('FIRST_NAME', 'Steven'), ('LAST_NAME', 'King'), ('EMAIL', 'SKING'), ('PHONE_NUMBER', '515.123.4567'), ('HIRE_DATE', '17-JUN-03'), ('JOB_ID', 'AD_PRES'), ('SALARY', '24000'), ('BONUS_PAY', 216000.0), ('MANAGER_ID', ' - '), ('DEPARTMENT_ID', '90'), ('YEARS_OF_SERVICE', '18')])
Row #12 OrderedDict([('EMPLOYEE_ID', '101'), ('FIRST_NAME', 'Neena'), ('LAST_NAME', 'Kochhar'), ('EMAIL', 'NKOCHHAR'), ('PHONE_NUMBER', '515.123.4568'), ('HIRE_DATE', '21-SEP-05'), ('JOB_ID', 'AD_VP'), ('SALARY', '17000'), ('BONUS_PAY', 153000.0), ('MANAGER_ID', '100'), ('DEPARTMENT_ID', '90'), ('YEARS_OF_SERVICE', '16')])
Row #13 OrderedDict([('EMPLOYEE_ID', '102'), ('FIRST_NAME', 'Lex'), ('LAST_NAME', 'De Haan'), ('EMAIL', 'LDEHAAN'), ('PHONE_NUMBER', '515.123.4569'), ('HIRE_DATE', '13-JAN-01'), ('JOB_ID', 'AD_VP'), ('SALARY', '17000'), ('BONUS_PAY', 204000), ('MANAGER_ID', '100'), ('DEPARTMENT_ID', '90'), ('YEARS_OF_SERVICE', '20')])
Row #14 OrderedDict([('EMPLOYEE_ID', '103'), ('FIRST_NAME', 'Alexander'), ('LAST_NAME', 'Hunold'), ('EMAIL', 'AHUNOLD'), ('PHONE_NUMBER', '590.423.4567'), ('HIRE_DATE', '03-JAN-06'), ('JOB_ID', 'IT_PROG'), ('SALARY', '9000'), ('BONUS_PAY', 81000.0), ('MANAGER_ID', '102'), ('DEPARTMENT_ID', '60'), ('YEARS_OF_SERVICE', '15')])
Row #15 OrderedDict([('EMPLOYEE_ID', '104'), ('FIRST_NAME', 'Bruce'), ('LAST_NAME', 'Ernst'), ('EMAIL', 'BERNST'), ('PHONE_NUMBER', '590.423.4568'), ('HIRE_DATE', '21-MAY-07'), ('JOB_ID', 'IT_PROG'), ('SALARY', '6000'), ('BONUS_PAY', 32400.000000000004), ('MANAGER_ID', '103'), ('DEPARTMENT_ID', '60'), ('YEARS_OF_SERVICE', '14')])
Row #16 OrderedDict([('EMPLOYEE_ID', '105'), ('FIRST_NAME', 'David'), ('LAST_NAME', 'Austin'), ('EMAIL', 'DAUSTIN'), ('PHONE_NUMBER', '590.423.4569'), ('HIRE_DATE', '25-JUN-05'), ('JOB_ID', 'IT_PROG'), ('SALARY', '4800'), ('BONUS_PAY', 43200.0), ('MANAGER_ID', '103'), ('DEPARTMENT_ID', '60'), ('YEARS_OF_SERVICE', '16')])
Row #17 OrderedDict([('EMPLOYEE_ID', '106'), ('FIRST_NAME', 'Valli'), ('LAST_NAME', 'Pataballa'), ('EMAIL', 'VPATABAL'), ('PHONE_NUMBER', '590.423.4560'), ('HIRE_DATE', '05-FEB-06'), ('JOB_ID', 'IT_PROG'), ('SALARY', '4800'), ('BONUS_PAY', 43200.0), ('MANAGER_ID', '103'), ('DEPARTMENT_ID', '60'), ('YEARS_OF_SERVICE', '15')])
Row #18 OrderedDict([('EMPLOYEE_ID', '107'), ('FIRST_NAME', 'Diana'), ('LAST_NAME', 'Lorentz'), ('EMAIL', 'DLORENTZ'), ('PHONE_NUMBER', '590.423.5567'), ('HIRE_DATE', '07-FEB-07'), ('JOB_ID', 'IT_PROG'), ('SALARY', '4200'), ('BONUS_PAY', 22680.0), ('MANAGER_ID', '103'), ('DEPARTMENT_ID', '60'), ('YEARS_OF_SERVICE', '14')])
Row #19 OrderedDict([('EMPLOYEE_ID', '108'), ('FIRST_NAME', 'Nancy'), ('LAST_NAME', 'Greenberg'), ('EMAIL', 'NGREENBE'), ('PHONE_NUMBER', '515.124.4569'), ('HIRE_DATE', '17-AUG-02'), ('JOB_ID', 'FI_MGR'), ('SALARY', '12008'), ('BONUS_PAY', 108072.0), ('MANAGER_ID', '101'), ('DEPARTMENT_ID', '100'), ('YEARS_OF_SERVICE', '19')])
Row #20 OrderedDict([('EMPLOYEE_ID', '109'), ('FIRST_NAME', 'Daniel'), ('LAST_NAME', 'Faviet'), ('EMAIL', 'DFAVIET'), ('PHONE_NUMBER', '515.124.4169'), ('HIRE_DATE', '16-AUG-02'), ('JOB_ID', 'FI_ACCOUNT'), ('SALARY', '9000'), ('BONUS_PAY', 81000.0), ('MANAGER_ID', '108'), ('DEPARTMENT_ID', '100'), ('YEARS_OF_SERVICE', '19')])
Row #21 OrderedDict([('EMPLOYEE_ID', '110'), ('FIRST_NAME', 'John'), ('LAST_NAME', 'Chen'), ('EMAIL', 'JCHEN'), ('PHONE_NUMBER', '515.124.4269'), ('HIRE_DATE', '28-SEP-05'), ('JOB_ID', 'FI_ACCOUNT'), ('SALARY', '8200'), ('BONUS_PAY', 73800.0), ('MANAGER_ID', '108'), ('DEPARTMENT_ID', '100'), ('YEARS_OF_SERVICE', '16')])
Row #22 OrderedDict([('EMPLOYEE_ID', '111'), ('FIRST_NAME', 'Ismael'), ('LAST_NAME', 'Sciarra'), ('EMAIL', 'ISCIARRA'), ('PHONE_NUMBER', '515.124.4369'), ('HIRE_DATE', '30-SEP-05'), ('JOB_ID', 'FI_ACCOUNT'), ('SALARY', '7700'), ('BONUS_PAY', 69300.0), ('MANAGER_ID', '108'), ('DEPARTMENT_ID', '100'), ('YEARS_OF_SERVICE', '16')])
Row #23 OrderedDict([('EMPLOYEE_ID', '112'), ('FIRST_NAME', 'Jose Manuel'), ('LAST_NAME', 'Urman'), ('EMAIL', 'JMURMAN'), ('PHONE_NUMBER', '515.124.4469'), ('HIRE_DATE', '07-MAR-06'), ('JOB_ID', 'FI_ACCOUNT'), ('SALARY', '7800'), ('BONUS_PAY', 70200.0), ('MANAGER_ID', '108'), ('DEPARTMENT_ID', '100'), ('YEARS_OF_SERVICE', '15')])
Row #24 OrderedDict([('EMPLOYEE_ID', '113'), ('FIRST_NAME', 'Luis'), ('LAST_NAME', 'Popp'), ('EMAIL', 'LPOPP'), ('PHONE_NUMBER', '515.124.4567'), ('HIRE_DATE', '07-DEC-07'), ('JOB_ID', 'FI_ACCOUNT'), ('SALARY', '6900'), ('BONUS_PAY', 37260.0), ('MANAGER_ID', '108'), ('DEPARTMENT_ID', '100'), ('YEARS_OF_SERVICE', '14')])
Row #25 OrderedDict([('EMPLOYEE_ID', '114'), ('FIRST_NAME', 'Den'), ('LAST_NAME', 'Raphaely'), ('EMAIL', 'DRAPHEAL'), ('PHONE_NUMBER', '515.127.4561'), ('HIRE_DATE', '07-DEC-02'), ('JOB_ID', 'PU_MAN'), ('SALARY', '11000'), ('BONUS_PAY', 99000.0), ('MANAGER_ID', '100'), ('DEPARTMENT_ID', '30'), ('YEARS_OF_SERVICE', '19')])
Row #26 OrderedDict([('EMPLOYEE_ID', '115'), ('FIRST_NAME', 'Alexander'), ('LAST_NAME', 'Khoo'), ('EMAIL', 'AKHOO'), ('PHONE_NUMBER', '515.127.4562'), ('HIRE_DATE', '18-MAY-03'), ('JOB_ID', 'PU_CLERK'), ('SALARY', '3100'), ('BONUS_PAY', 27900.0), ('MANAGER_ID', '114'), ('DEPARTMENT_ID', '30'), ('YEARS_OF_SERVICE', '18')])
Row #27 OrderedDict([('EMPLOYEE_ID', '116'), ('FIRST_NAME', 'Shelli'), ('LAST_NAME', 'Baida'), ('EMAIL', 'SBAIDA'), ('PHONE_NUMBER', '515.127.4563'), ('HIRE_DATE', '24-DEC-05'), ('JOB_ID', 'PU_CLERK'), ('SALARY', '2900'), ('BONUS_PAY', 26100.0), ('MANAGER_ID', '114'), ('DEPARTMENT_ID', '30'), ('YEARS_OF_SERVICE', '16')])
Row #28 OrderedDict([('EMPLOYEE_ID', '117'), ('FIRST_NAME', 'Sigal'), ('LAST_NAME', 'Tobias'), ('EMAIL', 'STOBIAS'), ('PHONE_NUMBER', '515.127.4564'), ('HIRE_DATE', '24-JUL-05'), ('JOB_ID', 'PU_CLERK'), ('SALARY', '2800'), ('BONUS_PAY', 25200.0), ('MANAGER_ID', '114'), ('DEPARTMENT_ID', '30'), ('YEARS_OF_SERVICE', '16')])
Row #29 OrderedDict([('EMPLOYEE_ID', '118'), ('FIRST_NAME', 'Guy'), ('LAST_NAME', 'Himuro'), ('EMAIL', 'GHIMURO'), ('PHONE_NUMBER', '515.127.4565'), ('HIRE_DATE', '15-NOV-06'), ('JOB_ID', 'PU_CLERK'), ('SALARY', '2600'), ('BONUS_PAY', 23400.0), ('MANAGER_ID', '114'), ('DEPARTMENT_ID', '30'), ('YEARS_OF_SERVICE', '15')])
Row #30 OrderedDict([('EMPLOYEE_ID', '119'), ('FIRST_NAME', 'Karen'), ('LAST_NAME', 'Colmenares'), ('EMAIL', 'KCOLMENA'), ('PHONE_NUMBER', '515.127.4566'), ('HIRE_DATE', '10-AUG-07'), ('JOB_ID', 'PU_CLERK'), ('SALARY', '2500'), ('BONUS_PAY', 13500.0), ('MANAGER_ID', '114'), ('DEPARTMENT_ID', '30'), ('YEARS_OF_SERVICE', '14')])
Row #31 OrderedDict([('EMPLOYEE_ID', '120'), ('FIRST_NAME', 'Matthew'), ('LAST_NAME', 'Weiss'), ('EMAIL', 'MWEISS'), ('PHONE_NUMBER', '650.123.1234'), ('HIRE_DATE', '18-JUL-04'), ('JOB_ID', 'ST_MAN'), ('SALARY', '8000'), ('BONUS_PAY', 72000.0), ('MANAGER_ID', '100'), ('DEPARTMENT_ID', '50'), ('YEARS_OF_SERVICE', '17')])
Row #32 OrderedDict([('EMPLOYEE_ID', '121'), ('FIRST_NAME', 'Adam'), ('LAST_NAME', 'Fripp'), ('EMAIL', 'AFRIPP'), ('PHONE_NUMBER', '650.123.2234'), ('HIRE_DATE', '10-APR-05'), ('JOB_ID', 'ST_MAN'), ('SALARY', '8200'), ('BONUS_PAY', 73800.0), ('MANAGER_ID', '100'), ('DEPARTMENT_ID', '50'), ('YEARS_OF_SERVICE', '16')])
Row #33 OrderedDict([('EMPLOYEE_ID', '122'), ('FIRST_NAME', 'Payam'), ('LAST_NAME', 'Kaufling'), ('EMAIL', 'PKAUFLIN'), ('PHONE_NUMBER', '650.123.3234'), ('HIRE_DATE', '01-MAY-03'), ('JOB_ID', 'ST_MAN'), ('SALARY', '7900'), ('BONUS_PAY', 71100.0), ('MANAGER_ID', '100'), ('DEPARTMENT_ID', '50'), ('YEARS_OF_SERVICE', '18')])
Row #34 OrderedDict([('EMPLOYEE_ID', '123'), ('FIRST_NAME', 'Shanta'), ('LAST_NAME', 'Vollman'), ('EMAIL', 'SVOLLMAN'), ('PHONE_NUMBER', '650.123.4234'), ('HIRE_DATE', '10-OCT-05'), ('JOB_ID', 'ST_MAN'), ('SALARY', '6500'), ('BONUS_PAY', 58500.0), ('MANAGER_ID', '100'), ('DEPARTMENT_ID', '50'), ('YEARS_OF_SERVICE', '16')])
Row #35 OrderedDict([('EMPLOYEE_ID', '124'), ('FIRST_NAME', 'Kevin'), ('LAST_NAME', 'Mourgos'), ('EMAIL', 'KMOURGOS'), ('PHONE_NUMBER', '650.123.5234'), ('HIRE_DATE', '16-NOV-07'), ('JOB_ID', 'ST_MAN'), ('SALARY', '5800'), ('BONUS_PAY', 31320.000000000004), ('MANAGER_ID', '100'), ('DEPARTMENT_ID', '50'), ('YEARS_OF_SERVICE', '14')])
Row #36 OrderedDict([('EMPLOYEE_ID', '125'), ('FIRST_NAME', 'Julia'), ('LAST_NAME', 'Nayer'), ('EMAIL', 'JNAYER'), ('PHONE_NUMBER', '650.124.1214'), ('HIRE_DATE', '16-JUL-05'), ('JOB_ID', 'ST_CLERK'), ('SALARY', '3200'), ('BONUS_PAY', 28800.0), ('MANAGER_ID', '120'), ('DEPARTMENT_ID', '50'), ('YEARS_OF_SERVICE', '16')])
Row #37 OrderedDict([('EMPLOYEE_ID', '126'), ('FIRST_NAME', 'Irene'), ('LAST_NAME', 'Mikkilineni'), ('EMAIL', 'IMIKKILI'), ('PHONE_NUMBER', '650.124.1224'), ('HIRE_DATE', '28-SEP-06'), ('JOB_ID', 'ST_CLERK'), ('SALARY', '2700'), ('BONUS_PAY', 24300.0), ('MANAGER_ID', '120'), ('DEPARTMENT_ID', '50'), ('YEARS_OF_SERVICE', '15')])
Row #38 OrderedDict([('EMPLOYEE_ID', '127'), ('FIRST_NAME', 'James'), ('LAST_NAME', 'Landry'), ('EMAIL', 'JLANDRY'), ('PHONE_NUMBER', '650.124.1334'), ('HIRE_DATE', '14-JAN-07'), ('JOB_ID', 'ST_CLERK'), ('SALARY', '2400'), ('BONUS_PAY', 12960.0), ('MANAGER_ID', '120'), ('DEPARTMENT_ID', '50'), ('YEARS_OF_SERVICE', '14')])
Row #39 OrderedDict([('EMPLOYEE_ID', '128'), ('FIRST_NAME', 'Steven'), ('LAST_NAME', 'Markle'), ('EMAIL', 'SMARKLE'), ('PHONE_NUMBER', '650.124.1434'), ('HIRE_DATE', '08-MAR-08'), ('JOB_ID', 'ST_CLERK'), ('SALARY', '2200'), ('BONUS_PAY', 11880.0), ('MANAGER_ID', '120'), ('DEPARTMENT_ID', '50'), ('YEARS_OF_SERVICE', '13')])
Row #40 OrderedDict([('EMPLOYEE_ID', '129'), ('FIRST_NAME', 'Laura'), ('LAST_NAME', 'Bissot'), ('EMAIL', 'LBISSOT'), ('PHONE_NUMBER', '650.124.5234'), ('HIRE_DATE', '20-AUG-05'), ('JOB_ID', 'ST_CLERK'), ('SALARY', '3300'), ('BONUS_PAY', 29700.0), ('MANAGER_ID', '121'), ('DEPARTMENT_ID', '50'), ('YEARS_OF_SERVICE', '16')])
Row #41 OrderedDict([('EMPLOYEE_ID', '130'), ('FIRST_NAME', 'Mozhe'), ('LAST_NAME', 'Atkinson'), ('EMAIL', 'MATKINSO'), ('PHONE_NUMBER', '650.124.6234'), ('HIRE_DATE', '30-OCT-05'), ('JOB_ID', 'ST_CLERK'), ('SALARY', '2800'), ('BONUS_PAY', 25200.0), ('MANAGER_ID', '121'), ('DEPARTMENT_ID', '50'), ('YEARS_OF_SERVICE', '16')])
Row #42 OrderedDict([('EMPLOYEE_ID', '131'), ('FIRST_NAME', 'James'), ('LAST_NAME', 'Marlow'), ('EMAIL', 'JAMRLOW'), ('PHONE_NUMBER', '650.124.7234'), ('HIRE_DATE', '16-FEB-05'), ('JOB_ID', 'ST_CLERK'), ('SALARY', '2500'), ('BONUS_PAY', 22500.0), ('MANAGER_ID', '121'), ('DEPARTMENT_ID', '50'), ('YEARS_OF_SERVICE', '16')])
Row #43 OrderedDict([('EMPLOYEE_ID', '132'), ('FIRST_NAME', 'TJ'), ('LAST_NAME', 'Olson'), ('EMAIL', 'TJOLSON'), ('PHONE_NUMBER', '650.124.8234'), ('HIRE_DATE', '10-APR-07'), ('JOB_ID', 'ST_CLERK'), ('SALARY', '2100'), ('BONUS_PAY', 11340.0), ('MANAGER_ID', '121'), ('DEPARTMENT_ID', '50'), ('YEARS_OF_SERVICE', '14')])
Row #44 OrderedDict([('EMPLOYEE_ID', '133'), ('FIRST_NAME', 'Jason'), ('LAST_NAME', 'Mallin'), ('EMAIL', 'JMALLIN'), ('PHONE_NUMBER', '650.127.1934'), ('HIRE_DATE', '14-JUN-04'), ('JOB_ID', 'ST_CLERK'), ('SALARY', '3300'), ('BONUS_PAY', 29700.0), ('MANAGER_ID', '122'), ('DEPARTMENT_ID', '50'), ('YEARS_OF_SERVICE', '17')])
Row #45 OrderedDict([('EMPLOYEE_ID', '134'), ('FIRST_NAME', 'Michael'), ('LAST_NAME', 'Rogers'), ('EMAIL', 'MROGERS'), ('PHONE_NUMBER', '650.127.1834'), ('HIRE_DATE', '26-AUG-06'), ('JOB_ID', 'ST_CLERK'), ('SALARY', '2900'), ('BONUS_PAY', 26100.0), ('MANAGER_ID', '122'), ('DEPARTMENT_ID', '50'), ('YEARS_OF_SERVICE', '15')])
Row #46 OrderedDict([('EMPLOYEE_ID', '135'), ('FIRST_NAME', 'Ki'), ('LAST_NAME', 'Gee'), ('EMAIL', 'KGEE'), ('PHONE_NUMBER', '650.127.1734'), ('HIRE_DATE', '12-DEC-07'), ('JOB_ID', 'ST_CLERK'), ('SALARY', '2400'), ('BONUS_PAY', 12960.0), ('MANAGER_ID', '122'), ('DEPARTMENT_ID', '50'), ('YEARS_OF_SERVICE', '14')])
Row #47 OrderedDict([('EMPLOYEE_ID', '136'), ('FIRST_NAME', 'Hazel'), ('LAST_NAME', 'Philtanker'), ('EMAIL', 'HPHILTAN'), ('PHONE_NUMBER', '650.127.1634'), ('HIRE_DATE', '06-FEB-08'), ('JOB_ID', 'ST_CLERK'), ('SALARY', '2200'), ('BONUS_PAY', 11880.0), ('MANAGER_ID', '122'), ('DEPARTMENT_ID', '50'), ('YEARS_OF_SERVICE', '13')])
Row #48 OrderedDict([('EMPLOYEE_ID', '137'), ('FIRST_NAME', 'Renske'), ('LAST_NAME', 'Ladwig'), ('EMAIL', 'RLADWIG'), ('PHONE_NUMBER', '650.121.1234'), ('HIRE_DATE', '14-JUL-03'), ('JOB_ID', 'ST_CLERK'), ('SALARY', '3600'), ('BONUS_PAY', 32400.0), ('MANAGER_ID', '123'), ('DEPARTMENT_ID', '50'), ('YEARS_OF_SERVICE', '18')])
Row #49 OrderedDict([('EMPLOYEE_ID', '138'), ('FIRST_NAME', 'Stephen'), ('LAST_NAME', 'Stiles'), ('EMAIL', 'SSTILES'), ('PHONE_NUMBER', '650.121.2034'), ('HIRE_DATE', '26-OCT-05'), ('JOB_ID', 'ST_CLERK'), ('SALARY', '3200'), ('BONUS_PAY', 28800.0), ('MANAGER_ID', '123'), ('DEPARTMENT_ID', '50'), ('YEARS_OF_SERVICE', '16')])
Row #50 OrderedDict([('EMPLOYEE_ID', '139'), ('FIRST_NAME', 'John'), ('LAST_NAME', 'Seo'), ('EMAIL', 'JSEO'), ('PHONE_NUMBER', '650.121.2019'), ('HIRE_DATE', '12-FEB-06'), ('JOB_ID', 'ST_CLERK'), ('SALARY', '2700'), ('BONUS_PAY', 24300.0), ('MANAGER_ID', '123'), ('DEPARTMENT_ID', '50'), ('YEARS_OF_SERVICE', '15')])
Row #51 OrderedDict([('EMPLOYEE_ID', '140'), ('FIRST_NAME', 'Joshua'), ('LAST_NAME', 'Patel'), ('EMAIL', 'JPATEL'), ('PHONE_NUMBER', '650.121.1834'), ('HIRE_DATE', '06-APR-06'), ('JOB_ID', 'ST_CLERK'), ('SALARY', '2500'), ('BONUS_PAY', 22500.0), ('MANAGER_ID', '123'), ('DEPARTMENT_ID', '50'), ('YEARS_OF_SERVICE', '15')])

In [ ]:
sum(new_bonus_data)

2682204.0

So by using the csv.DictReader we stil find the total amount of bonus is over our budget, being 2,682,204.00 USD. So we need to again design a new bonus plan.

In [ ]:
import csv
NewEmployeeFile = open('new_employee.csv')
NewEmployeeReader = csv.DictReader(NewEmployeeFile)
new_bonus_data = []
for row in NewEmployeeReader:
  if int(row['YEARS_OF_SERVICE']) < 5:
    row['BONUS_PAY'] = 12*(0.25-0.184)*int(row['SALARY']) 
  elif int(row['YEARS_OF_SERVICE']) >= 5 and int(row['YEARS_OF_SERVICE']) < 10:
    row['BONUS_PAY'] = 12*(0.35-0.184)*int(row['SALARY'])
  elif int(row['YEARS_OF_SERVICE']) >= 10 and int(row['YEARS_OF_SERVICE']) < 15:
    row['BONUS_PAY'] = 12*(0.45-0.184)*int(row['SALARY'])
  elif int(row['YEARS_OF_SERVICE']) >= 15 and int(row['YEARS_OF_SERVICE']) < 20:
    row['BONUS_PAY'] = 12*(0.75-0.184)*int(row['SALARY'])
  elif int(row['YEARS_OF_SERVICE']) >= 20 and int(row['YEARS_OF_SERVICE']) <= 25:
    row['BONUS_PAY'] = 12*(1-0.184)*int(row['SALARY'])
  new_bonus_data.append(row['BONUS_PAY'])
  print('Row #'+ str(NewEmployeeReader.line_num)+' '+str(row))

Row #2 OrderedDict([('EMPLOYEE_ID', '198'), ('FIRST_NAME', 'Donald'), ('LAST_NAME', 'OConnell'), ('EMAIL', 'DOCONNEL'), ('PHONE_NUMBER', '650.507.9833'), ('HIRE_DATE', '21-JUN-07'), ('JOB_ID', 'SH_CLERK'), ('SALARY', '2600'), ('BONUS_PAY', 8299.2), ('MANAGER_ID', '124'), ('DEPARTMENT_ID', '50'), ('YEARS_OF_SERVICE', '14')])
Row #3 OrderedDict([('EMPLOYEE_ID', '199'), ('FIRST_NAME', 'Douglas'), ('LAST_NAME', 'Grant'), ('EMAIL', 'DGRANT'), ('PHONE_NUMBER', '650.507.9844'), ('HIRE_DATE', '13-JAN-08'), ('JOB_ID', 'SH_CLERK'), ('SALARY', '2600'), ('BONUS_PAY', 8299.2), ('MANAGER_ID', '124'), ('DEPARTMENT_ID', '50'), ('YEARS_OF_SERVICE', '13')])
Row #4 OrderedDict([('EMPLOYEE_ID', '200'), ('FIRST_NAME', 'Jennifer'), ('LAST_NAME', 'Whalen'), ('EMAIL', 'JWHALEN'), ('PHONE_NUMBER', '515.123.4444'), ('HIRE_DATE', '17-SEP-03'), ('JOB_ID', 'AD_ASST'), ('SALARY', '4400'), ('BONUS_PAY', 29884.800000000003), ('MANAGER_ID', '101'), ('DEPARTMENT_ID', '10'), ('YEARS_OF_SERVICE', '18')])
Row #5 OrderedDict([('EMPLOYEE_ID', '201'), ('FIRST_NAME', 'Michael'), ('LAST_NAME', 'Hartstein'), ('EMAIL', 'MHARTSTE'), ('PHONE_NUMBER', '515.123.5555'), ('HIRE_DATE', '17-FEB-04'), ('JOB_ID', 'MK_MAN'), ('SALARY', '13000'), ('BONUS_PAY', 88296.00000000001), ('MANAGER_ID', '100'), ('DEPARTMENT_ID', '20'), ('YEARS_OF_SERVICE', '17')])
Row #6 OrderedDict([('EMPLOYEE_ID', '202'), ('FIRST_NAME', 'Pat'), ('LAST_NAME', 'Fay'), ('EMAIL', 'PFAY'), ('PHONE_NUMBER', '603.123.6666'), ('HIRE_DATE', '17-AUG-05'), ('JOB_ID', 'MK_REP'), ('SALARY', '6000'), ('BONUS_PAY', 40752.00000000001), ('MANAGER_ID', '201'), ('DEPARTMENT_ID', '20'), ('YEARS_OF_SERVICE', '16')])
Row #7 OrderedDict([('EMPLOYEE_ID', '203'), ('FIRST_NAME', 'Susan'), ('LAST_NAME', 'Mavris'), ('EMAIL', 'SMAVRIS'), ('PHONE_NUMBER', '515.123.7777'), ('HIRE_DATE', '07-JUN-02'), ('JOB_ID', 'HR_REP'), ('SALARY', '6500'), ('BONUS_PAY', 44148.00000000001), ('MANAGER_ID', '101'), ('DEPARTMENT_ID', '40'), ('YEARS_OF_SERVICE', '19')])
Row #8 OrderedDict([('EMPLOYEE_ID', '204'), ('FIRST_NAME', 'Hermann'), ('LAST_NAME', 'Baer'), ('EMAIL', 'HBAER'), ('PHONE_NUMBER', '515.123.8888'), ('HIRE_DATE', '07-JUN-02'), ('JOB_ID', 'PR_REP'), ('SALARY', '10000'), ('BONUS_PAY', 67920.0), ('MANAGER_ID', '101'), ('DEPARTMENT_ID', '70'), ('YEARS_OF_SERVICE', '19')])
Row #9 OrderedDict([('EMPLOYEE_ID', '205'), ('FIRST_NAME', 'Shelley'), ('LAST_NAME', 'Higgins'), ('EMAIL', 'SHIGGINS'), ('PHONE_NUMBER', '515.123.8080'), ('HIRE_DATE', '07-JUN-02'), ('JOB_ID', 'AC_MGR'), ('SALARY', '12008'), ('BONUS_PAY', 81558.33600000001), ('MANAGER_ID', '101'), ('DEPARTMENT_ID', '110'), ('YEARS_OF_SERVICE', '19')])
Row #10 OrderedDict([('EMPLOYEE_ID', '206'), ('FIRST_NAME', 'William'), ('LAST_NAME', 'Gietz'), ('EMAIL', 'WGIETZ'), ('PHONE_NUMBER', '515.123.8181'), ('HIRE_DATE', '07-JUN-02'), ('JOB_ID', 'AC_ACCOUNT'), ('SALARY', '8300'), ('BONUS_PAY', 56373.600000000006), ('MANAGER_ID', '205'), ('DEPARTMENT_ID', '110'), ('YEARS_OF_SERVICE', '19')])
Row #11 OrderedDict([('EMPLOYEE_ID', '100'), ('FIRST_NAME', 'Steven'), ('LAST_NAME', 'King'), ('EMAIL', 'SKING'), ('PHONE_NUMBER', '515.123.4567'), ('HIRE_DATE', '17-JUN-03'), ('JOB_ID', 'AD_PRES'), ('SALARY', '24000'), ('BONUS_PAY', 163008.00000000003), ('MANAGER_ID', ' - '), ('DEPARTMENT_ID', '90'), ('YEARS_OF_SERVICE', '18')])
Row #12 OrderedDict([('EMPLOYEE_ID', '101'), ('FIRST_NAME', 'Neena'), ('LAST_NAME', 'Kochhar'), ('EMAIL', 'NKOCHHAR'), ('PHONE_NUMBER', '515.123.4568'), ('HIRE_DATE', '21-SEP-05'), ('JOB_ID', 'AD_VP'), ('SALARY', '17000'), ('BONUS_PAY', 115464.00000000001), ('MANAGER_ID', '100'), ('DEPARTMENT_ID', '90'), ('YEARS_OF_SERVICE', '16')])
Row #13 OrderedDict([('EMPLOYEE_ID', '102'), ('FIRST_NAME', 'Lex'), ('LAST_NAME', 'De Haan'), ('EMAIL', 'LDEHAAN'), ('PHONE_NUMBER', '515.123.4569'), ('HIRE_DATE', '13-JAN-01'), ('JOB_ID', 'AD_VP'), ('SALARY', '17000'), ('BONUS_PAY', 166464.00000000003), ('MANAGER_ID', '100'), ('DEPARTMENT_ID', '90'), ('YEARS_OF_SERVICE', '20')])
Row #14 OrderedDict([('EMPLOYEE_ID', '103'), ('FIRST_NAME', 'Alexander'), ('LAST_NAME', 'Hunold'), ('EMAIL', 'AHUNOLD'), ('PHONE_NUMBER', '590.423.4567'), ('HIRE_DATE', '03-JAN-06'), ('JOB_ID', 'IT_PROG'), ('SALARY', '9000'), ('BONUS_PAY', 61128.00000000001), ('MANAGER_ID', '102'), ('DEPARTMENT_ID', '60'), ('YEARS_OF_SERVICE', '15')])
Row #15 OrderedDict([('EMPLOYEE_ID', '104'), ('FIRST_NAME', 'Bruce'), ('LAST_NAME', 'Ernst'), ('EMAIL', 'BERNST'), ('PHONE_NUMBER', '590.423.4568'), ('HIRE_DATE', '21-MAY-07'), ('JOB_ID', 'IT_PROG'), ('SALARY', '6000'), ('BONUS_PAY', 19152.0), ('MANAGER_ID', '103'), ('DEPARTMENT_ID', '60'), ('YEARS_OF_SERVICE', '14')])
Row #16 OrderedDict([('EMPLOYEE_ID', '105'), ('FIRST_NAME', 'David'), ('LAST_NAME', 'Austin'), ('EMAIL', 'DAUSTIN'), ('PHONE_NUMBER', '590.423.4569'), ('HIRE_DATE', '25-JUN-05'), ('JOB_ID', 'IT_PROG'), ('SALARY', '4800'), ('BONUS_PAY', 32601.600000000002), ('MANAGER_ID', '103'), ('DEPARTMENT_ID', '60'), ('YEARS_OF_SERVICE', '16')])
Row #17 OrderedDict([('EMPLOYEE_ID', '106'), ('FIRST_NAME', 'Valli'), ('LAST_NAME', 'Pataballa'), ('EMAIL', 'VPATABAL'), ('PHONE_NUMBER', '590.423.4560'), ('HIRE_DATE', '05-FEB-06'), ('JOB_ID', 'IT_PROG'), ('SALARY', '4800'), ('BONUS_PAY', 32601.600000000002), ('MANAGER_ID', '103'), ('DEPARTMENT_ID', '60'), ('YEARS_OF_SERVICE', '15')])
Row #18 OrderedDict([('EMPLOYEE_ID', '107'), ('FIRST_NAME', 'Diana'), ('LAST_NAME', 'Lorentz'), ('EMAIL', 'DLORENTZ'), ('PHONE_NUMBER', '590.423.5567'), ('HIRE_DATE', '07-FEB-07'), ('JOB_ID', 'IT_PROG'), ('SALARY', '4200'), ('BONUS_PAY', 13406.400000000001), ('MANAGER_ID', '103'), ('DEPARTMENT_ID', '60'), ('YEARS_OF_SERVICE', '14')])
Row #19 OrderedDict([('EMPLOYEE_ID', '108'), ('FIRST_NAME', 'Nancy'), ('LAST_NAME', 'Greenberg'), ('EMAIL', 'NGREENBE'), ('PHONE_NUMBER', '515.124.4569'), ('HIRE_DATE', '17-AUG-02'), ('JOB_ID', 'FI_MGR'), ('SALARY', '12008'), ('BONUS_PAY', 81558.33600000001), ('MANAGER_ID', '101'), ('DEPARTMENT_ID', '100'), ('YEARS_OF_SERVICE', '19')])
Row #20 OrderedDict([('EMPLOYEE_ID', '109'), ('FIRST_NAME', 'Daniel'), ('LAST_NAME', 'Faviet'), ('EMAIL', 'DFAVIET'), ('PHONE_NUMBER', '515.124.4169'), ('HIRE_DATE', '16-AUG-02'), ('JOB_ID', 'FI_ACCOUNT'), ('SALARY', '9000'), ('BONUS_PAY', 61128.00000000001), ('MANAGER_ID', '108'), ('DEPARTMENT_ID', '100'), ('YEARS_OF_SERVICE', '19')])
Row #21 OrderedDict([('EMPLOYEE_ID', '110'), ('FIRST_NAME', 'John'), ('LAST_NAME', 'Chen'), ('EMAIL', 'JCHEN'), ('PHONE_NUMBER', '515.124.4269'), ('HIRE_DATE', '28-SEP-05'), ('JOB_ID', 'FI_ACCOUNT'), ('SALARY', '8200'), ('BONUS_PAY', 55694.40000000001), ('MANAGER_ID', '108'), ('DEPARTMENT_ID', '100'), ('YEARS_OF_SERVICE', '16')])
Row #22 OrderedDict([('EMPLOYEE_ID', '111'), ('FIRST_NAME', 'Ismael'), ('LAST_NAME', 'Sciarra'), ('EMAIL', 'ISCIARRA'), ('PHONE_NUMBER', '515.124.4369'), ('HIRE_DATE', '30-SEP-05'), ('JOB_ID', 'FI_ACCOUNT'), ('SALARY', '7700'), ('BONUS_PAY', 52298.40000000001), ('MANAGER_ID', '108'), ('DEPARTMENT_ID', '100'), ('YEARS_OF_SERVICE', '16')])
Row #23 OrderedDict([('EMPLOYEE_ID', '112'), ('FIRST_NAME', 'Jose Manuel'), ('LAST_NAME', 'Urman'), ('EMAIL', 'JMURMAN'), ('PHONE_NUMBER', '515.124.4469'), ('HIRE_DATE', '07-MAR-06'), ('JOB_ID', 'FI_ACCOUNT'), ('SALARY', '7800'), ('BONUS_PAY', 52977.600000000006), ('MANAGER_ID', '108'), ('DEPARTMENT_ID', '100'), ('YEARS_OF_SERVICE', '15')])
Row #24 OrderedDict([('EMPLOYEE_ID', '113'), ('FIRST_NAME', 'Luis'), ('LAST_NAME', 'Popp'), ('EMAIL', 'LPOPP'), ('PHONE_NUMBER', '515.124.4567'), ('HIRE_DATE', '07-DEC-07'), ('JOB_ID', 'FI_ACCOUNT'), ('SALARY', '6900'), ('BONUS_PAY', 22024.800000000003), ('MANAGER_ID', '108'), ('DEPARTMENT_ID', '100'), ('YEARS_OF_SERVICE', '14')])
Row #25 OrderedDict([('EMPLOYEE_ID', '114'), ('FIRST_NAME', 'Den'), ('LAST_NAME', 'Raphaely'), ('EMAIL', 'DRAPHEAL'), ('PHONE_NUMBER', '515.127.4561'), ('HIRE_DATE', '07-DEC-02'), ('JOB_ID', 'PU_MAN'), ('SALARY', '11000'), ('BONUS_PAY', 74712.00000000001), ('MANAGER_ID', '100'), ('DEPARTMENT_ID', '30'), ('YEARS_OF_SERVICE', '19')])
Row #26 OrderedDict([('EMPLOYEE_ID', '115'), ('FIRST_NAME', 'Alexander'), ('LAST_NAME', 'Khoo'), ('EMAIL', 'AKHOO'), ('PHONE_NUMBER', '515.127.4562'), ('HIRE_DATE', '18-MAY-03'), ('JOB_ID', 'PU_CLERK'), ('SALARY', '3100'), ('BONUS_PAY', 21055.2), ('MANAGER_ID', '114'), ('DEPARTMENT_ID', '30'), ('YEARS_OF_SERVICE', '18')])
Row #27 OrderedDict([('EMPLOYEE_ID', '116'), ('FIRST_NAME', 'Shelli'), ('LAST_NAME', 'Baida'), ('EMAIL', 'SBAIDA'), ('PHONE_NUMBER', '515.127.4563'), ('HIRE_DATE', '24-DEC-05'), ('JOB_ID', 'PU_CLERK'), ('SALARY', '2900'), ('BONUS_PAY', 19696.800000000003), ('MANAGER_ID', '114'), ('DEPARTMENT_ID', '30'), ('YEARS_OF_SERVICE', '16')])
Row #28 OrderedDict([('EMPLOYEE_ID', '117'), ('FIRST_NAME', 'Sigal'), ('LAST_NAME', 'Tobias'), ('EMAIL', 'STOBIAS'), ('PHONE_NUMBER', '515.127.4564'), ('HIRE_DATE', '24-JUL-05'), ('JOB_ID', 'PU_CLERK'), ('SALARY', '2800'), ('BONUS_PAY', 19017.600000000002), ('MANAGER_ID', '114'), ('DEPARTMENT_ID', '30'), ('YEARS_OF_SERVICE', '16')])
Row #29 OrderedDict([('EMPLOYEE_ID', '118'), ('FIRST_NAME', 'Guy'), ('LAST_NAME', 'Himuro'), ('EMAIL', 'GHIMURO'), ('PHONE_NUMBER', '515.127.4565'), ('HIRE_DATE', '15-NOV-06'), ('JOB_ID', 'PU_CLERK'), ('SALARY', '2600'), ('BONUS_PAY', 17659.2), ('MANAGER_ID', '114'), ('DEPARTMENT_ID', '30'), ('YEARS_OF_SERVICE', '15')])
Row #30 OrderedDict([('EMPLOYEE_ID', '119'), ('FIRST_NAME', 'Karen'), ('LAST_NAME', 'Colmenares'), ('EMAIL', 'KCOLMENA'), ('PHONE_NUMBER', '515.127.4566'), ('HIRE_DATE', '10-AUG-07'), ('JOB_ID', 'PU_CLERK'), ('SALARY', '2500'), ('BONUS_PAY', 7980.0), ('MANAGER_ID', '114'), ('DEPARTMENT_ID', '30'), ('YEARS_OF_SERVICE', '14')])
Row #31 OrderedDict([('EMPLOYEE_ID', '120'), ('FIRST_NAME', 'Matthew'), ('LAST_NAME', 'Weiss'), ('EMAIL', 'MWEISS'), ('PHONE_NUMBER', '650.123.1234'), ('HIRE_DATE', '18-JUL-04'), ('JOB_ID', 'ST_MAN'), ('SALARY', '8000'), ('BONUS_PAY', 54336.00000000001), ('MANAGER_ID', '100'), ('DEPARTMENT_ID', '50'), ('YEARS_OF_SERVICE', '17')])
Row #32 OrderedDict([('EMPLOYEE_ID', '121'), ('FIRST_NAME', 'Adam'), ('LAST_NAME', 'Fripp'), ('EMAIL', 'AFRIPP'), ('PHONE_NUMBER', '650.123.2234'), ('HIRE_DATE', '10-APR-05'), ('JOB_ID', 'ST_MAN'), ('SALARY', '8200'), ('BONUS_PAY', 55694.40000000001), ('MANAGER_ID', '100'), ('DEPARTMENT_ID', '50'), ('YEARS_OF_SERVICE', '16')])
Row #33 OrderedDict([('EMPLOYEE_ID', '122'), ('FIRST_NAME', 'Payam'), ('LAST_NAME', 'Kaufling'), ('EMAIL', 'PKAUFLIN'), ('PHONE_NUMBER', '650.123.3234'), ('HIRE_DATE', '01-MAY-03'), ('JOB_ID', 'ST_MAN'), ('SALARY', '7900'), ('BONUS_PAY', 53656.8), ('MANAGER_ID', '100'), ('DEPARTMENT_ID', '50'), ('YEARS_OF_SERVICE', '18')])
Row #34 OrderedDict([('EMPLOYEE_ID', '123'), ('FIRST_NAME', 'Shanta'), ('LAST_NAME', 'Vollman'), ('EMAIL', 'SVOLLMAN'), ('PHONE_NUMBER', '650.123.4234'), ('HIRE_DATE', '10-OCT-05'), ('JOB_ID', 'ST_MAN'), ('SALARY', '6500'), ('BONUS_PAY', 44148.00000000001), ('MANAGER_ID', '100'), ('DEPARTMENT_ID', '50'), ('YEARS_OF_SERVICE', '16')])
Row #35 OrderedDict([('EMPLOYEE_ID', '124'), ('FIRST_NAME', 'Kevin'), ('LAST_NAME', 'Mourgos'), ('EMAIL', 'KMOURGOS'), ('PHONE_NUMBER', '650.123.5234'), ('HIRE_DATE', '16-NOV-07'), ('JOB_ID', 'ST_MAN'), ('SALARY', '5800'), ('BONUS_PAY', 18513.600000000002), ('MANAGER_ID', '100'), ('DEPARTMENT_ID', '50'), ('YEARS_OF_SERVICE', '14')])
Row #36 OrderedDict([('EMPLOYEE_ID', '125'), ('FIRST_NAME', 'Julia'), ('LAST_NAME', 'Nayer'), ('EMAIL', 'JNAYER'), ('PHONE_NUMBER', '650.124.1214'), ('HIRE_DATE', '16-JUL-05'), ('JOB_ID', 'ST_CLERK'), ('SALARY', '3200'), ('BONUS_PAY', 21734.4), ('MANAGER_ID', '120'), ('DEPARTMENT_ID', '50'), ('YEARS_OF_SERVICE', '16')])
Row #37 OrderedDict([('EMPLOYEE_ID', '126'), ('FIRST_NAME', 'Irene'), ('LAST_NAME', 'Mikkilineni'), ('EMAIL', 'IMIKKILI'), ('PHONE_NUMBER', '650.124.1224'), ('HIRE_DATE', '28-SEP-06'), ('JOB_ID', 'ST_CLERK'), ('SALARY', '2700'), ('BONUS_PAY', 18338.4), ('MANAGER_ID', '120'), ('DEPARTMENT_ID', '50'), ('YEARS_OF_SERVICE', '15')])
Row #38 OrderedDict([('EMPLOYEE_ID', '127'), ('FIRST_NAME', 'James'), ('LAST_NAME', 'Landry'), ('EMAIL', 'JLANDRY'), ('PHONE_NUMBER', '650.124.1334'), ('HIRE_DATE', '14-JAN-07'), ('JOB_ID', 'ST_CLERK'), ('SALARY', '2400'), ('BONUS_PAY', 7660.8), ('MANAGER_ID', '120'), ('DEPARTMENT_ID', '50'), ('YEARS_OF_SERVICE', '14')])
Row #39 OrderedDict([('EMPLOYEE_ID', '128'), ('FIRST_NAME', 'Steven'), ('LAST_NAME', 'Markle'), ('EMAIL', 'SMARKLE'), ('PHONE_NUMBER', '650.124.1434'), ('HIRE_DATE', '08-MAR-08'), ('JOB_ID', 'ST_CLERK'), ('SALARY', '2200'), ('BONUS_PAY', 7022.400000000001), ('MANAGER_ID', '120'), ('DEPARTMENT_ID', '50'), ('YEARS_OF_SERVICE', '13')])
Row #40 OrderedDict([('EMPLOYEE_ID', '129'), ('FIRST_NAME', 'Laura'), ('LAST_NAME', 'Bissot'), ('EMAIL', 'LBISSOT'), ('PHONE_NUMBER', '650.124.5234'), ('HIRE_DATE', '20-AUG-05'), ('JOB_ID', 'ST_CLERK'), ('SALARY', '3300'), ('BONUS_PAY', 22413.600000000002), ('MANAGER_ID', '121'), ('DEPARTMENT_ID', '50'), ('YEARS_OF_SERVICE', '16')])
Row #41 OrderedDict([('EMPLOYEE_ID', '130'), ('FIRST_NAME', 'Mozhe'), ('LAST_NAME', 'Atkinson'), ('EMAIL', 'MATKINSO'), ('PHONE_NUMBER', '650.124.6234'), ('HIRE_DATE', '30-OCT-05'), ('JOB_ID', 'ST_CLERK'), ('SALARY', '2800'), ('BONUS_PAY', 19017.600000000002), ('MANAGER_ID', '121'), ('DEPARTMENT_ID', '50'), ('YEARS_OF_SERVICE', '16')])
Row #42 OrderedDict([('EMPLOYEE_ID', '131'), ('FIRST_NAME', 'James'), ('LAST_NAME', 'Marlow'), ('EMAIL', 'JAMRLOW'), ('PHONE_NUMBER', '650.124.7234'), ('HIRE_DATE', '16-FEB-05'), ('JOB_ID', 'ST_CLERK'), ('SALARY', '2500'), ('BONUS_PAY', 16980.0), ('MANAGER_ID', '121'), ('DEPARTMENT_ID', '50'), ('YEARS_OF_SERVICE', '16')])
Row #43 OrderedDict([('EMPLOYEE_ID', '132'), ('FIRST_NAME', 'TJ'), ('LAST_NAME', 'Olson'), ('EMAIL', 'TJOLSON'), ('PHONE_NUMBER', '650.124.8234'), ('HIRE_DATE', '10-APR-07'), ('JOB_ID', 'ST_CLERK'), ('SALARY', '2100'), ('BONUS_PAY', 6703.200000000001), ('MANAGER_ID', '121'), ('DEPARTMENT_ID', '50'), ('YEARS_OF_SERVICE', '14')])
Row #44 OrderedDict([('EMPLOYEE_ID', '133'), ('FIRST_NAME', 'Jason'), ('LAST_NAME', 'Mallin'), ('EMAIL', 'JMALLIN'), ('PHONE_NUMBER', '650.127.1934'), ('HIRE_DATE', '14-JUN-04'), ('JOB_ID', 'ST_CLERK'), ('SALARY', '3300'), ('BONUS_PAY', 22413.600000000002), ('MANAGER_ID', '122'), ('DEPARTMENT_ID', '50'), ('YEARS_OF_SERVICE', '17')])
Row #45 OrderedDict([('EMPLOYEE_ID', '134'), ('FIRST_NAME', 'Michael'), ('LAST_NAME', 'Rogers'), ('EMAIL', 'MROGERS'), ('PHONE_NUMBER', '650.127.1834'), ('HIRE_DATE', '26-AUG-06'), ('JOB_ID', 'ST_CLERK'), ('SALARY', '2900'), ('BONUS_PAY', 19696.800000000003), ('MANAGER_ID', '122'), ('DEPARTMENT_ID', '50'), ('YEARS_OF_SERVICE', '15')])
Row #46 OrderedDict([('EMPLOYEE_ID', '135'), ('FIRST_NAME', 'Ki'), ('LAST_NAME', 'Gee'), ('EMAIL', 'KGEE'), ('PHONE_NUMBER', '650.127.1734'), ('HIRE_DATE', '12-DEC-07'), ('JOB_ID', 'ST_CLERK'), ('SALARY', '2400'), ('BONUS_PAY', 7660.8), ('MANAGER_ID', '122'), ('DEPARTMENT_ID', '50'), ('YEARS_OF_SERVICE', '14')])
Row #47 OrderedDict([('EMPLOYEE_ID', '136'), ('FIRST_NAME', 'Hazel'), ('LAST_NAME', 'Philtanker'), ('EMAIL', 'HPHILTAN'), ('PHONE_NUMBER', '650.127.1634'), ('HIRE_DATE', '06-FEB-08'), ('JOB_ID', 'ST_CLERK'), ('SALARY', '2200'), ('BONUS_PAY', 7022.400000000001), ('MANAGER_ID', '122'), ('DEPARTMENT_ID', '50'), ('YEARS_OF_SERVICE', '13')])
Row #48 OrderedDict([('EMPLOYEE_ID', '137'), ('FIRST_NAME', 'Renske'), ('LAST_NAME', 'Ladwig'), ('EMAIL', 'RLADWIG'), ('PHONE_NUMBER', '650.121.1234'), ('HIRE_DATE', '14-JUL-03'), ('JOB_ID', 'ST_CLERK'), ('SALARY', '3600'), ('BONUS_PAY', 24451.2), ('MANAGER_ID', '123'), ('DEPARTMENT_ID', '50'), ('YEARS_OF_SERVICE', '18')])
Row #49 OrderedDict([('EMPLOYEE_ID', '138'), ('FIRST_NAME', 'Stephen'), ('LAST_NAME', 'Stiles'), ('EMAIL', 'SSTILES'), ('PHONE_NUMBER', '650.121.2034'), ('HIRE_DATE', '26-OCT-05'), ('JOB_ID', 'ST_CLERK'), ('SALARY', '3200'), ('BONUS_PAY', 21734.4), ('MANAGER_ID', '123'), ('DEPARTMENT_ID', '50'), ('YEARS_OF_SERVICE', '16')])
Row #50 OrderedDict([('EMPLOYEE_ID', '139'), ('FIRST_NAME', 'John'), ('LAST_NAME', 'Seo'), ('EMAIL', 'JSEO'), ('PHONE_NUMBER', '650.121.2019'), ('HIRE_DATE', '12-FEB-06'), ('JOB_ID', 'ST_CLERK'), ('SALARY', '2700'), ('BONUS_PAY', 18338.4), ('MANAGER_ID', '123'), ('DEPARTMENT_ID', '50'), ('YEARS_OF_SERVICE', '15')])
Row #51 OrderedDict([('EMPLOYEE_ID', '140'), ('FIRST_NAME', 'Joshua'), ('LAST_NAME', 'Patel'), ('EMAIL', 'JPATEL'), ('PHONE_NUMBER', '650.121.1834'), ('HIRE_DATE', '06-APR-06'), ('JOB_ID', 'ST_CLERK'), ('SALARY', '2500'), ('BONUS_PAY', 16980.0), ('MANAGER_ID', '123'), ('DEPARTMENT_ID', '50'), ('YEARS_OF_SERVICE', '15')])

In [ ]:
sum(new_bonus_data)

1999675.872

So here we again find out the new bonus plan, by extracting 18.4% from all bonus percentages. Since I already shown the updated csv with new BONUS_PAY above, the only thing left is to create a new csv called "bonus_scale".

In [ ]:
import csv
BonusFile = open('bonus_scale.csv', 'w', newline='')
BonusDictWriter = csv.DictWriter(BonusFile, ["Employee’s years of service", 'Bonus as % of base annual salary'])
BonusDictWriter.writeheader()
BonusDictWriter.writerow({"Employee’s years of service": '0-5', 'Bonus as % of base annual salary': '6.6'})
BonusDictWriter.writerow({"Employee’s years of service": '5-10', 'Bonus as % of base annual salary': '16.6'})
BonusDictWriter.writerow({"Employee’s years of service": '10-15', 'Bonus as % of base annual salary': '26.6'})
BonusDictWriter.writerow({"Employee’s years of service": '15-20', 'Bonus as % of base annual salary': '56.6'})
BonusDictWriter.writerow({"Employee’s years of service": '20-25', 'Bonus as % of base annual salary': '81.6'})
BonusFile.close()
file_bonus = open('bonus_scale.csv')
BonusReader = csv.reader(file_bonus)
for row in BonusReader:
  print(row)

['Employee’s years of service', 'Bonus as % of base annual salary']
['0-5', '6.6']
['5-10', '16.6']
['10-15', '26.6']
['15-20', '56.6']
['20-25', '81.6']

## Activity 4: Review csv reader and writer
 described on slide 12. You need to answer 5 questions on that slide of Lecture 5. (5 points).


Q1: What do you pass to csv.reader() and csv.writer() to create reader and writer objects?

A1: A csv file, or a tsv file if delimiter="\t" is written. Csv/tsv files are supposed to be opened using the open() function before passing to csv.reader() and csv.writer().

Q2: What modes do File objects for reader and writer objects need to be opened in?

A2: We need to open the file object in the following function: File_object = open(“NameofFile”, “Mode”)

For reader object, we do not need to enter any mode since it is reader object by default. If we really want to put it explicitly, it is 'r' to the place of "Mode" in the above function.

For writer object, we need to write 'w' to the place of "Mode" in the above function.

Q3: What method takes a list argument and writes it to a CSV file?

A3: write = csv.writer(); write.writerow()

Q4: What do the delimiter and lineterminator keyword arguments do?

A4: The delimiter, which is a comma by default for any CSV file, is the character that appears between cells on a row. The line terminator, which is a new line by default for any CSV file, is the character that comes at the end of a row. 

We can change the delimiter and line terminator characters to different values by using the delimiter and lineterminator keyword arguments with csv.writer().

Q5: What is the difference between reading a csv file using csv.reader() vs. reading it using csv.DictReader()?

A5: csv.reader() returns an iterable reader object of the csv file while csv.DictReader() reads a csv file as a dictionary and returns a dictionary for each row in the input file.